<div class="p-2">
  <div class="p-4 flex justify-between items-center bg-[#FFFFFF] w-full">
    <p class="text-[#F8AA00] text-[20px]">
      {{ "FEEDBACKS_SUGGESTIONS" | translate }}
      <span class="text-[#000000] text-[20px]"
        >> {{ "CONTACT_INFORMATION" | translate }}</span
      >
    </p>
    <button
      *appHasPermission="{
        permission: 'CREATE',
        pageComponent: 'Feedback Management'
      }"
      type="button"
      (click)="openCreate()"
      class="rounded-2xl border border-[#235884] px-4 py-2 hover:cursor-pointer"
    >
      <div class="flex justify-center items-center space-x-1">
        <img src="assets/icons/plus.png" alt="" class="w-[18px]" />
        <p>{{ "CREATE" | translate }}</p>
      </div>
    </button>
  </div>

  <div class="mt-8">
    <table class="w-full">
      <thead class="bg-[#E7EEF4] h-20 uppercase">
        <tr>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "NO" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "NAME" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "ICON" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "ROUTEE" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "ACTION" | translate }}
          </th>
        </tr>
      </thead>
      <tbody class="text-[#687489] text-[14px]">
        <ng-container *ngIf="contactData.length; else emptyResult">
          <tr
            class="border-b h-12"
            *ngFor="let item of contactData; let i = index"
          >
            <td class="text-center px-4">{{ offset * size + (i + 1) }}</td>
            <td class="text-center px-4">{{ item.name }}</td>
            <td class="flex justify-center px-4 py-2">
              <img
                [src]="item.iconUrl"
                class="rounded-lg w-20 h-20"
                alt="banner-img"
              />
            </td>
            <td class="text-center px-4">{{ item.route }}</td>
            <td class="text-center px-4">
              <div class="flex justify-center items-center space-x-4">
                <!-- <button (click)="edit(item)">
                  <mat-icon  
                    matListItemIcon 
                    class="cursor-pointer"
                    style="color: #989898;"
                  >edit</mat-icon>
                </button>
                -->
                <button
                  *appHasPermission="{
                    permission: 'DELETE',
                    pageComponent: 'Feedback Management'
                  }"
                  (click)="delete(item.id)"
                >
                  <mat-icon
                    matListItemIcon
                    class="cursor-pointer"
                    style="color: #989898"
                    title="delete"
                    >delete</mat-icon
                  >
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #emptyResult>
          <tr>
            <td colspan="7" class="py-16">
              <div
                *ngIf="!isLoading"
                class="flex items-start justify-center w-full"
              >
                <mat-icon svgIcon="heroicons_solid:inbox"></mat-icon>
                <p>{{ "NO_SEARCH_RESULT" | translate }}</p>
              </div>
              <div *ngIf="isLoading">
                <span class="flex justify-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <app-paginator
      [offset]="offset"
      [totalOffset]="totalOffset"
      (change)="contactInfo($event)"
    ></app-paginator>
  </div>
</div>
