<div class="p-2">
  <div class="p-4 flex justify-start items-center bg-[#FFFFFF] w-full">
    <h1 class="text-[18px]">
      <span class="text-[#F8AA00]">{{ "NOTIFICATION" | translate }}</span> >
      {{ "COMMON_NOTIFICATION" | translate }}
    </h1>
  </div>

  <div class="mt-8">
    <table class="w-full">
      <thead class="bg-[#E7EEF4] h-20 uppercase text-[#565D6D]">
        <tr>
          <th class="text-center px-4">{{ "NO" | translate }}</th>
          <th class="text-center px-4">{{ "TYPEC" | translate }}</th>
          <th class="text-center px-4">{{ "MESSAGEC" | translate }}</th>
          <th class="text-center px-4">{{ "NEWST_STATUS" | translate }}</th>
          <th class="text-center px-4">{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody class="text-[#687489] text-[14px]">
        <ng-container *ngIf="templateData.length; else loading">
          <tr
            *ngFor="let res of templateData; let i = index"
            class="border-b text-sm"
          >
            <td class="text-center px-4 py-3">{{ offset * size + (i + 1) }}</td>
            <td class="text-center px-4 py-3">{{ res.messageType.type }}</td>
            <td class="text-center px-4 py-3">
              {{ res.content[currentLang] || res.content.vi }}
            </td>
            <td class="text-center px-4 py-3">
              <div class="flex justify-center items-center space-x-4">
                <label class="inline-flex items-center cursor-pointer">
                  <div
                    class="switch"
                    (click)="onChangeStatus(res)"
                    [class.checked]="res.isActive === true"
                  >
                    <div class="toggle"></div>
                  </div>
                </label>
              </div>
            </td>
            <td class="text-center px-4 py-3">
              <div class="flex justify-center items-center space-x-4">
                <button (click)="onDetail(res)">
                  <img
                    src="assets/icons/info-circle-icon.png"
                    alt=""
                    class="w-[20px]"
                  />
                </button>
                <button
                  *appHasPermission="{
                    permission: 'EDIT',
                    pageComponent: 'Notification Management'
                  }"
                  (click)="onEdit(res)"
                >
                  <img
                    src="assets/icons/edit-icon.png"
                    alt=""
                    class="w-[20px]"
                  />
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #loading>
          <tr>
            <td colspan="5" class="py-16">
              <span class="flex justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </span>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <app-paginator
      [offset]="offset"
      [totalOffset]="totalOffset"
      (change)="getTemplate($event)"
    ></app-paginator>
  </div>
</div>

<ng-template #editModal>
  <div class="pt-16 px-16 overflow-y-auto">
    <div>
      <h2 class="text-[20px] font-bold text-center">
        {{ "EDIT_COMMON_NOTIFICATION" | translate }}
      </h2>
    </div>
    <form [formGroup]="editForm">
      <div class="grid grid-cols-2 gap-2 py-4">
        <div class="flex flex-col mr-6">
          <label class="text-[#4E535D] font-bold text-lg" for="messageKey">{{
            "TYPE" | translate
          }}</label>
          <input
            type="text"
            readonly
            formControlName="messageKey"
            class="border-2 border-gray-300 rounded-xl px-3 py-2 focus:outline-none"
          />
        </div>
      </div>

      <div
        *ngIf="edit.variables && edit.variables.length > 0"
        class="border-b border-t py-3"
      >
        <div class="flex flex-col">
          <div>
            <h1 class="text-[#4E535D] font-bold text-lg">
              {{ "Variables" | translate }}
            </h1>
          </div>
          <div *ngFor="let data of edit.variables" class="flex">
            <p class="text-[#4E535D] text-[16px] font-semibold">
              -{{ data.key }}:
            </p>
            <p class="text-[16px] text-[#000000] text-start px-6">
              {{ data.description[currentLang] || data.description.vi }}
            </p>
          </div>
        </div>
      </div>

      <ng-container>
        <div class="mt-2">
          <p class="text-[#4E535D] font-bold text-lg my-1">
            {{ "CREATE_NEWSL_CONTENT" | translate }} <span>(Vietnamese)</span>
          </p>
          <app-text-area formControlName="contentVi"></app-text-area>
        </div>
      </ng-container>

      <ng-container>
        <div class="mt-2">
          <p class="text-[#4E535D] font-bold text-lg my-1">
            {{ "CREATE_NEWSL_CONTENT" | translate }} <span>(English)</span>
          </p>
          <app-text-area formControlName="contentEn"></app-text-area>
        </div>
      </ng-container>

      <div class="mt-12 mb-7 flex justify-center items-center gap-4">
        <button
          class="text-white border bg-[#C4C4C4] px-5 py-2 rounded-3xl"
          (click)="close()"
        >
          <p class="text-[16px]">{{ "CANCEL" | translate }}</p>
        </button>
        <button
          (click)="onCallEdit()"
          class="bg-[#F7AA00] text-white px-5 py-2 rounded-3xl"
        >
          <p class="text-[16px]">{{ "SAVE" | translate }}</p>
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #detailModal>
  <div class="p-8 overflow-y-auto">
    <div class="flex justify-start items-center p-4">
      <p class="font-bold text-xl">{{ "NOTI_DETAIL" | translate }}</p>
    </div>
    <div class="p-2 mx-2">
      <div class="grid grid-cols-2 border-b py-4 gap-8">
        <p class="text-[#4E535D] text-[16px] font-semibold">
          {{ "TYPE" | translate }}
        </p>
        <p class="text-[16px] text-[#000000] text-start px-6">
          {{ detail.messageType.type }}
        </p>
      </div>

      <div
        *ngIf="detail.variables && detail.variables.length > 0"
        class="border-b"
      >
        <div class="grid grid-cols-2 gap-8">
          <h1 class="text-[#4E535D] text-[16px] font-semibold mt-3">
            {{ "Variables" | translate }}
          </h1>
          <div class="flex flex-col py-1">
            <div *ngFor="let data of detail.variables" class="py-2">
              <div class="flex flex-row px-6">
                <p class="text-[16px]">- {{ data.key }}:</p>
                <p class="text-[16px] text-[#000000] px-1">
                  {{ data.description[currentLang] || data.description.vi }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 border-b py-4 gap-8">
        <p class="text-[#4E535D] text-[16px] font-semibold">
          {{ "MESSAGE" | translate }}
        </p>
        <p class="text-[16px] text-[#000000] text-start px-6">
          {{ detail.content[currentLang] || detail.content.vi }}
        </p>
      </div>

      <div class="grid grid-cols-2 border-b py-4 gap-8">
        <p class="text-[#4E535D] text-[16px] font-semibold">
          {{ "CREATEDAT" | translate }}
        </p>
        <p class="text-[16px] text-[#000000] text-start px-6">
          {{ detail.createdAt | date : "yyyy-MM-dd   HH:mm" }}
        </p>
      </div>

      <div class="grid grid-cols-2 border-b py-4 gap-8">
        <p class="text-[#4E535D] text-[16px] font-semibold">
          {{ "UPDATEDAT" | translate }}
        </p>
        <p class="text-[16px] text-[#000000] text-start px-6">
          {{ detail.createdAt | date : "yyyy-MM-dd   HH:mm" }}
        </p>
      </div>
    </div>
    <div class="flex justify-end items-center p-2 py-4">
      <button
        class="bg-[#F7AA00] text-white px-5 py-2 rounded-3xl"
        (click)="close()"
      >
        <p class="text-[16px]">{{ "CLOSE" | translate }}</p>
      </button>
    </div>
  </div>
</ng-template>
