<div>
  <div class="bg-white p-4 flex justify-between">
    <h1 class="text-[18px] flex items-center justify-center">
      <span class="text-[#F8AA00] px-2"> {{ "CONTRACT" | translate }} </span> >
      <span class="px-2">{{ "REQUEST_CONTRACT" | translate }}</span>
    </h1>
  </div>

  <div class="m-6">
    <div class="shadow-md py-4 border border-gray-100 rounded-md">
      <form action="" [formGroup]="requestContractsForm">
        <div class="grid grid-cols-3 gap-4 mx-8">
          <div class="p-1">
            <app-input
              [label]="'CONTRACT_SEARCH' | translate"
              inputId="userNamePhoneEmail"
              formControlName="userNamePhoneEmail"
              (keydown)="onKeyDown($event)"
            ></app-input>
          </div>

          <div class="p-1">
            <app-input
              [label]="'AMOUNT_FROM' | translate"
              inputId="fromAmount"
              formControlName="fromAmount"
              (keydown)="onKeyDown($event)"
              [shouldFormat]="true"
            ></app-input>
          </div>

          <div class="p-1">
            <app-input
              [label]="'AMOUNT_TO' | translate"
              inputId="toAmount"
              formControlName="toAmount"
              (keydown)="onKeyDown($event)"
              [shouldFormat]="true"
            ></app-input>
          </div>
        </div>

        <div class="grid grid-cols-3 gap-4 mx-8">
          <div class="px-1 pt-2">
            <app-select
              [label]="'STATUS' | translate"
              selectId="status"
              [options]="selectStatus"
              formControlName="status"
              controlName="status"
              (keydown)="onKeyDown($event)"
            ></app-select>
          </div>

          <div class="p-1">
            <app-input
              [label]="'FROM_DATE' | translate"
              inputId="fromTime"
              formControlName="fromTime"
              type="date"
            ></app-input>
          </div>

          <div class="p-1">
            <app-input
              [label]="'TO_DATE' | translate"
              inputId="toTime"
              formControlName="toTime"
              type="date"
            ></app-input>
          </div>
        </div>

        <div class="p-1 flex justify-end space-x-4 mt-4 mx-8">
          <button
            class="text-[#F7AA00] border border-[#F7AA00] px-4 py-2 rounded-3xl"
            (click)="reset()"
          >
            <div class="flex justify-center items-center space-x-1">
              <img
                src="assets/icons/refresh-icon.png"
                alt=""
                class="w-[18px]"
              />
              <p>{{ "RESET" | translate }}</p>
            </div>
          </button>
          <button
            (click)="searchContractList()"
            class="bg-[#F7AA00] text-white px-4 py-2 rounded-3xl"
          >
            <div class="flex justify-center items-center space-x-1">
              <img src="assets/icons/search.png" alt="" class="w-[18px]" />
              <p>{{ "SEARCH" | translate }}</p>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div
    class="m-6"
    [class.overflow-y-auto]="contractList.length > 0"
    [class.overflow-hidden]="contractList.length === 0"
  >
    <table style="width: 150%">
      <thead
        class="bg-[#E7EEF4] h-20 text-[16px] text-[#565D6D] font-bold uppercase"
      >
        <tr>
          <th class="text-center fixed">{{ "NO" | translate }}</th>
          <th class="text-center px-4 fixed">{{ "FULL_NAME" | translate }}</th>
          <th class="text-center px-4 fixed">
            {{ "PHONE_NUMBER" | translate }}
          </th>
          <th class="text-center px-4">{{ "EMAIL" | translate }}</th>
          <th class="text-center px-4">{{ "ASSIGN_SALE" | translate }}</th>
          <th class="text-center px-4">
            {{ "INVEST_AMOUNTT" | translate }}
          </th>
          <th class="text-center px-4">{{ "REQUEST_AT" | translate }}</th>
          <th class="text-center px-4">{{ "STATUS" | translate }}</th>
          <th class="text-center px-4">{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="contractList.length > 0; else noData" class="bg-white">
        <tr
          class="border-b h-16"
          *ngFor="let data of contractList; let i = index"
        >
          <td class="text-center text-[#687489] text-sm fixed">
            {{ offset * size + (i + 1) }}
          </td>
          <td class="text-center text-[#687489] text-sm px-4 fixed">
            {{ data.customerName }}
          </td>
          <td class="text-center text-[#687489] text-sm px-4 fixed">
            {{ data.phoneNumber }}
          </td>
          <td
            class="text-center text-[#687489] text-sm px-4"
            style="word-wrap: break-word; overflow-wrap: break-word"
          >
            {{ data.email }}
          </td>
          <td class="text-center text-[#687489] text-sm px-4">
            {{ data.assignAccountFullName }}
          </td>
          <td class="text-center text-[#687489] text-sm px-4">
            {{ data.investAmount.toLocaleString() }}
          </td>
          <td class="text-center text-[#687489] text-sm px-4">
            {{ data.createdAt }}
          </td>
          <td class="text-[#687489] text-sm px-9 text-center">
            <div
              class="rounded-3xl p-1"
              [ngClass]="{
                'bg-[#D8FFDC] text-[#18B427]': data.status === 'COMPLETE',
                'bg-[#D8EEFF] text-[#0E9EF0]': data.status === 'IN_PROGRESS',
                'bg-[#FFF7DA] text-[#E0AF00]': data.status === 'PENDING',
              }"
            >
              {{
                (data.status === "COMPLETE"
                  ? "STATUS_COMPLETE"
                  : data.status === "IN_PROGRESS"
                  ? "STATUS_IN_PROGRESS"
                  : "STATUS_PENDING"
                ) | translate
              }}
            </div>
          </td>
          <td class="text-center text-[#687489] text-sm px-4">
            <div class="flex justify-center items-center gap-2">
              <button (click)="infoDetail(data.id)" title="Detail">
                <img
                  src="assets/icons/info-circle-icon.png"
                  alt="edit-icon"
                  class="w-[18px]"
                />
              </button>
              <button
                title="Edit"
                (click)="editInfo(data)"
                *appHasPermission="{
                  permission: 'EDIT',
                  pageComponent: 'Contract Management'
                }"
              >
                <img
                  src="assets/icons/edit-icon.png"
                  alt="edit-icon"
                  class="w-[18px]"
                />
              </button>
              <button
                (click)="delete(data.id)"
                title="Delete"
                *appHasPermission="{
                  permission: 'DELETE',
                  pageComponent: 'Contract Management'
                }"
              >
                <img
                  src="assets/icons/trash-icon.png"
                  alt="trash-icon"
                  class="w-[18px]"
                />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noData>
    <tr>
      <td colspan="6" class="py-16">
        <div
          *ngIf="!isLoading"
          class="flex items-center justify-center w-full gap-2"
        >
          <mat-icon style="color: rgb(200, 198, 198)">error</mat-icon>

          <p>{{ "NO_SEARCH_RESULT" | translate }}</p>
        </div>
        <div *ngIf="isLoading">
          <span class="flex justify-center">
            <mat-spinner [diameter]="30"></mat-spinner>
          </span>
        </div>
      </td>
    </tr>
  </ng-template>
  <app-paginator
    [offset]="offset"
    [totalOffset]="totalOffset"
    (change)="searchContractList($event)"
  ></app-paginator>
</div>
