<div>
  <div class="bg-white p-4 flex justify-between">
    <h1 class="text-[18px] flex items-center justify-center">
      <span class="text-[#F8AA00] px-2">{{ "MANAGE_NEWS" | translate }}</span> >
      <span class="px-2">{{ "MANAGE_NEWS" | translate }}</span>
    </h1>
    <div class="mx-6">
      <button
        *appHasPermission="{
          permission: 'CREATE',
          pageComponent: 'News Management'
        }"
        (click)="onCreate()"
        class="rounded-3xl border border-[#235884] px-2 py-1 hover:cursor-pointer"
      >
        <div class="flex justify-center items-center space-x-1">
          <img src="assets/icons/plus.png" alt="create-icon" class="w-[18px]" />
          <p>{{ "NEWSB_CREATE" | translate }}</p>
        </div>
      </button>
    </div>
  </div>
  <form action="" [formGroup]="searchForm">
    <div class="m-6">
      <div class="shadow-md py-4 border border-gray-100 rounded-md">
        <div class="mx-5 rounded-md grid grid-cols-3 gap-4">
          <div class="p-1">
            <app-input
              [label]="'NEWSL_TITLE' | translate"
              inputId="title"
              formControlName="title"
              placeholder="Type your title"
              (keydown)="onKeyDown($event)"
            ></app-input>
          </div>
          <div class="p-1">
            <app-input
              [label]="'FROM_DATE' | translate"
              inputId="fromTime"
              formControlName="fromTime"
              type="date"
            ></app-input>
          </div>
          <div class="p-1">
            <app-input
              [label]="'TO_DATE' | translate"
              inputId="toTime"
              formControlName="toTime"
              type="date"
            ></app-input>
          </div>
          <div class="p-1">
            <app-select
              [label]="'STATUS' | translate"
              selectId="status"
              [options]="status"
              formControlName="status"
              controlName="status"
              (keydown)="onKeyDown($event)"
            ></app-select>
          </div>
        </div>
        <div class="mx-2 flex justify-end py-4">
          <button
            class="text-[#F7AA00] border border-[#F7AA00] px-4 py-2 rounded-3xl mx-4"
            (click)="resetSearchForm()"
          >
            <div class="flex justify-center items-center gap-2">
              <img
                src="assets/icons/refresh-icon.png"
                alt="refresh-icon"
                class="w-[18px]"
              />
              <p class="text-[16px]">{{ "RESET" | translate }}</p>
            </div>
          </button>
          <button
            class="bg-[#F7AA00] text-white px-4 py-2 rounded-3xl"
            (click)="searchNews()"
          >
            <div class="flex justify-center items-center gap-2">
              <img
                src="assets/icons/search.png"
                alt="search-icon"
                class="w-[18px]"
              />
              <p class="text-[16px]">{{ "SEARCH" | translate }}</p>
            </div>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="m-6">
    <table class="w-full">
      <thead class="bg-[#E7EEF4] text-[#565D6D] text-[16px] uppercase">
        <tr>
          <th class="text-center p-4">{{ "NO" | translate }}</th>
          <th class="text-center p-4">{{ "NEWST_IMAGE" | translate }}</th>
          <th class="text-center p-4">{{ "NEWST_STATUS" | translate }}</th>
          <th class="text-center p-4">{{ "NEWST_TITLE" | translate }}</th>
          <th class="text-center p-4">{{ "NEWST_CREATED_AT" | translate }}</th>
          <th class="text-center p-4">{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody
        *ngIf="searchNewsData.length > 0; else noData"
        class="text-[#687489]"
      >
        <tr *ngFor="let data of searchNewsData; let i = index">
          <td class="text-center py-4">
            <div>
              <p class="text-[14px]">{{ offset * size + (i + 1) }}</p>
            </div>
          </td>
          <td class="py-4">
            <div class="flex justify-center items-center">
              <!-- <img
                [src]="data.imageUrl[currentLang] || data.imageUrl.vi"
                class="rounded-lg w-[183px]"
                alt="banner-img"
              /> -->
              <ng-container
                *ngIf="
                  data.imageUrl[currentLang] || data.imageUrl.vi;
                  else noImage
                "
              >
                <img
                  [src]="data.imageUrl[currentLang] || data.imageUrl.vi"
                  class="rounded-lg w-[183px]"
                  alt="banner-img"
                />
              </ng-container>
              <ng-template #noImage>
                <div class="flex items-center justify-center">
                  <span>{{ "no_image" | translate }}</span>
                </div>
              </ng-template>
            </div>
          </td>
          <td class="py-4">
            <div class="flex flex-col justify-center items-center gap-3">
              <label class="inline-flex items-center cursor-pointer">
                <div
                  class="switch"
                  [class.checked]="data.status === 'ACTIVE'"
                  (click)="onToggle(data.id, data)"
                >
                  <div class="toggle"></div>
                </div>
              </label>
              <!-- <span
                class="text-xs text-white rounded-xl py-1"
                [ngClass]="
                  data.status === 'ACTIVE'
                    ? 'bg-green-400 px-4'
                    : 'bg-[#A0A2A9] px-2'
                "
              >
                <ng-container *ngIf="data.status === 'ACTIVE'; else elseStatus">
                  ACTIVE
                </ng-container>
                <ng-template #elseStatus> INACTIVE </ng-template>
              </span> -->
            </div>
          </td>
          <td class="text-center py-4">
            <div>
              <!-- <p class="text-[#4E535D] text-[14px]">
                {{ data.title?.en || data.title?.vi }}
              </p> -->
              <p class="text-[#4E535D] text-[14px]">
                {{ data.title[currentLang] || data.title.vi }}
              </p>
            </div>
          </td>
          <td class="text-center py-4">
            <div class="flex justify-center items-center">
              <p class="flex gap-2 text-[14px]">{{ data.createdAt }}</p>
            </div>
          </td>
          <td class="py-4">
            <div class="flex justify-center items-center gap-3">
              <!-- <button (click)="onDetail(data)">
                <img
                  src="assets/icons/info-circle-icon.png"
                  alt="edit-icon"
                  class="w-[18px]"
                  title="Detail"
                />
              </button> -->

              <button
                (click)="onEdit(data)"
                title="Edit"
                *appHasPermission="{
                  permission: 'EDIT',
                  pageComponent: 'News Management'
                }"
              >
                <img
                  src="assets/icons/edit-icon.png"
                  alt="edit-icon"
                  class="w-[20px]"
                />
              </button>
              <button
                (click)="onDelete(data?.id)"
                title="Delete"
                *appHasPermission="{
                  permission: 'DELETE',
                  pageComponent: 'News Management'
                }"
              >
                <img
                  src="assets/icons/trash-icon.png"
                  alt="trash-icon"
                  class="w-[20px]"
                />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="7" class="py-16">
            <div
              *ngIf="!isLoading"
              class="flex items-start justify-center w-full gap-2"
            >
              <mat-icon style="color: rgb(200, 198, 198)">error</mat-icon>

              <p>{{ "NO_SEARCH_RESULT" | translate }}</p>
            </div>
            <div *ngIf="isLoading">
              <span class="flex justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </span>
            </div>
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
  <app-paginator
    [offset]="offset"
    [totalOffset]="totalOffset"
    (change)="searchNews($event)"
  ></app-paginator>
</div>
