::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 12px !important;
  overflow: hidden !important;
  --mdc-dialog-container-elevation: 0px !important;
}


mat-toolbar {
  position: relative;
  z-index: 3;
  /* Ensures toolbar stays above sidenav */
  width: 100%;
}

mat-sidenav-container.sidenav-container {
  height: 100vh;
  position: relative;

  mat-sidenav {
    z-index: 4;
    /* Overlay above content */
    height: 100%;
    position: absolute;
    /* Allows sidenav to float above content */
    top: 0;
    background: #fff;
    /* Optional: Set a background for clarity */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Optional: Add shadow for visual separation */
  }

  mat-sidenav-content {
    transition: transform 500ms ease-in-out;
    position: relative;
    /* Ensures content stays in place */
  }
}

.sidenav {
  transition: width 500ms ease-in-out;
}

.content {
  margin: 0;
  /* Reset margin for overlay behavior */
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}