<div class="max-h-screen overflow-y-auto">
  <div class="flex justify-end p-2">
    <mat-icon (click)="closeDetail()" class="cursor-pointer">close</mat-icon>
  </div>
  <div class="py-5 px-10">
    <h1 class="flex justify-center font-bold text-xl">Customer Details</h1>
    <div class="container mx-auto">
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>FTTH Account</p>
        <p>ayy_gftth_htetmhm1</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Contract ID</p>
        <p>5000945008</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Customer Address</p>
        <p class="max-w-xs text-end">
          Myo Ma Ward, Ngathaingchaung Town, Yegyi, Ayeyarwady
        </p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Contract NO 1</p>
        <p>09691247302</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Contract NO 2</p>
        <p>09691247302</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Total Money</p>
        <p>1000</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Branch</p>
        <p>AYY</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Site Code</p>
        <p>AYY0861</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Site Code & SN Code</p>
        <p>AYY0861-DN01-SN09</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>D2D Name</p>
        <p>Wai Yan Kyaw</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>FBB Leader Name</p>
        <p>Thant Zin Aung</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Township</p>
        <p>Yegyi</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>BC Name</p>
        <p>AYY0303-Yegyi BC</p>
      </div>
      <div class="flex justify-between p-1 mb-3 font-medium">
        <p>Status</p>
        <button
          class="px-3 py-2 cursor-default rounded-full bg-[#EBC1FF] text-[#B934F8] focus:outline-none"
        >
          Reuse
        </button>
      </div>
    </div>
  </div>
</div>
