<div class="m-8 px-8 h-[500px]">
  <div class="flex justify-end items-center mt-1">
    <button (click)="closeEditContract()">
      <mat-icon class="mat-18">close</mat-icon>
    </button>
  </div>
  <h1 class="py-4 text-[20px] font-bold text-center">
    {{ "EDIT_NEW_CONTRACT" | translate }}
  </h1>

  <div class="overflow-y-auto">
    <form action="" [formGroup]="editNewContract">
      <h3 class="text-[16px] font-semibold">{{ "INVESTMENT" | translate }}</h3>
      <div class="p-1" formGroupName="packageName">
        <app-select
          [label]="'PACKAGE' | translate"
          selectId="package"
          [options]="packages"
          [formControlName]="currentLang === 'vi' ? 'vi' : 'en'"
          controlName="package"
        ></app-select>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-1">
          <div class="autocomplete-container">
            <p class="text-[#4E535D] text-sm mb-1">
              {{ "CUSTOMER_NAME" | translate }}
              <span class="text-red-500">*</span>
            </p>

            <input
              type="text"
              class="appearance-none border border-[#454F6380] rounded-lg w-full py-2.5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [ngClass]="{
                'border-red-500':
                  editNewContract.get('customerName')?.invalid &&
                  (editNewContract.get('customerName')?.touched ||
                    editNewContract.get('customerName')?.dirty)
              }"
              [formControl]="editCustomerControl"
              formControlName="customerName"
              (focus)="editCustomerSuggestions = true"
              (blur)="hideCustomerSuggestions()"
              (input)="onInputCustomerChange($event)"
              inputId="customerName"
            />

            <ul
              *ngIf="
                editCustomerDataSuggestions &&
                editCustomerDataSuggestions.length > 0
              "
            >
              <li
                *ngFor="let suggestion of editCustomerDataSuggestions"
                (mousedown)="selectCustomerSuggestion(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
            <div
              *ngIf="
                editCustomerSuggestions &&
                editCustomerDataSuggestions.length === 0
              "
            >
              <p class="text-red-600 text-[12.5px] mt-1">
                No search result found
              </p>
            </div>
            <!-- Error message -->
            <div
              *ngIf="
                editNewContract.get('customerName')?.invalid &&
                (editNewContract.get('customerName')?.touched ||
                  editNewContract.get('customerName')?.dirty)
              "
              class="text-red-600 text-[12.5px] mt-1"
            >
              {{ "REQUIRED_CUSTOM" | translate }}
            </div>
          </div>
        </div>

        <div class="p-1">
          <div class="autocomplete-container">
            <p class="text-[#4E535D] text-sm mb-1">
              {{ "SIGNATORYF" | translate }} <span class="text-red-500">*</span>
            </p>

            <input
              type="text"
              class="appearance-none border border-[#454F6380] rounded-lg w-full py-2.5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [ngClass]="{
                'border-red-500':
                  editNewContract.get('signatoryFullName')?.invalid &&
                  (editNewContract.get('signatoryFullName')?.touched ||
                    editNewContract.get('signatoryFullName')?.dirty)
              }"
              [formControl]="editControl"
              formControlName="signatoryFullName"
              (focus)="editSuggestions = true"
              (blur)="hideSuggestions()"
              (input)="onInputChange($event)"
              inputId="signatoryFullName"
            />

            <ul *ngIf="editSuggestions && editDataSuggestions.length > 0">
              <li
                *ngFor="let suggestion of editDataSuggestions"
                (mousedown)="selectSuggestion(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
            <div *ngIf="editSuggestions && editDataSuggestions.length === 0">
              <p class="text-red-600 text-[12.5px] mt-1">
                No search result found
              </p>
            </div>
            <!-- Error message -->
            <div
              *ngIf="
                editNewContract.get('signatoryFullName')?.invalid &&
                (editNewContract.get('signatoryFullName')?.touched ||
                  editNewContract.get('signatoryFullName')?.dirty)
              "
              class="text-red-600 text-[12.5px] mt-1"
            >
              {{ "REQUIRED_CUSTOM" | translate }}
            </div>
          </div>
        </div>

        <div class="p-1">
          <app-input
            [label]="'CONTRACT_CODE' | translate"
            inputId="contractCode"
            formControlName="contractCode"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-1">
          <app-input
            [label]="'INVEST_AMOUNT' | translate"
            inputId="investAmount"
            formControlName="investAmount"
            (input)="onInput($event)"
          ></app-input>
        </div>

        <div class="p-1">
          <app-select
            [label]="'CURRENCY' | translate"
            selectId="currency"
            [options]="currency"
            formControlName="currency"
            controlName="currency"
          ></app-select>
        </div>

        <div class="p-1">
          <app-select
            [label]="'STATUS' | translate"
            selectId="status"
            [options]="status"
            formControlName="status"
            controlName="status"
          ></app-select>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-1">
          <app-input
            [label]="'INVEST_PERIOD' | translate"
            inputId="term"
            formControlName="term"
            [isDisabled]="true"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'INTEREST_PERIOD' | translate"
            inputId="interestPaymentPeriod"
            formControlName="interestPaymentPeriod"
            [isDisabled]="true"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'INTEREST_RATE' | translate"
            inputId="interestRate"
            formControlName="interestRate"
            [isDisabled]="true"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-1">
          <app-input
            [label]="'BONUS_RATE' | translate"
            inputId="bonusRate"
            formControlName="bonusRate"
            [isDisabled]="true"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'START_DATE' | translate"
            inputId="fromTime"
            formControlName="fromTime"
            type="date"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'END_DATE' | translate"
            inputId="toTime"
            formControlName="toTime"
            type="date"
            [isDisabled]="true"
          ></app-input>
        </div>
      </div>
      <h3 class="text-[16px] font-semibold my-4">
        {{ "INTEREST_PERIOD" | translate }}
      </h3>

      <table class="w-full">
        <thead class="h-20 text-[14px]">
          <tr class="text-[#565D6D]">
            <th class="text-center px-4 border">
              {{ "PAYMENT_PERIOD" | translate }}
            </th>
            <th class="text-center px-4 border">{{ "STATUS" | translate }}</th>
            <th class="text-center px-4 border">
              {{ "INTEREST_PAY_AMOUNT" | translate }}
            </th>
            <th class="text-center px-4 border">{{ "NOTE" | translate }}</th>
          </tr>
        </thead>
        <tbody formArrayName="interestPaymentHistories">
          <tr
            *ngFor="let detail of paymentDetails.controls; let i = index"
            [formGroupName]="i"
            class="h-16"
          >
            <td class="text-center text-[#687489] text-sm px-4 border">
              <app-input
                inputId="paymentPeriodTime{{ i }}"
                formControlName="paymentPeriodTime"
                type="date"
              ></app-input>
            </td>
            <td class="text-center text-[#687489] text-sm px-4 border">
              <app-select
                selectId="statusPeriod{{ i }}"
                [options]="statusPeriod"
                formControlName="status"
              ></app-select>
            </td>
            <td class="text-center text-[#687489] text-sm px-4 border">
              <app-input
                inputId="interestPaymentAmount{{ i }}"
                formControlName="interestPaymentAmount"
                (input)="onInterestPaymentInput($event, i)"
              ></app-input>
            </td>
            <td class="text-center text-[#687489] text-sm px-4 border">
              <app-input
                inputId="note{{ i }}"
                formControlName="note"
              ></app-input>
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              <div class="flex justify-end items-center">
                <button
                  (click)="addPaymentDetail()"
                  class="bg-[#F8AA00] rounded-full flex justify-center items-center -mt-3"
                >
                  <mat-icon class="mat-18" style="color: white">add</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 class="text-[16px] font-semibold my-4">
        {{ "SETTLEMENT" | translate }}
      </h3>
      <div class="grid grid-cols-3 gap-4">
        <div class="p-1">
          <app-input
            [label]="'SETTLEMENT_AMOUNT' | translate"
            inputId="settlementAmount"
            formControlName="settlementAmount"
            (input)="onSettlementAmountInput($event)"
          ></app-input>
        </div>

        <div class="p-1" formGroupName="gift">
          <app-input
            [label]="'GIFT' | translate"
            inputId="gift"
            [formControlName]="currentLang === 'vi' ? 'vi' : 'en'"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'SETTLEMENT_DATE' | translate"
            inputId="settlementDate"
            formControlName="settlementDate"
            type="date"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-3 gap-4">
        <div class="p-1 col-span-2">
          <app-input
            [label]="'REASON' | translate"
            inputId="reason"
            formControlName="reason"
          ></app-input>
        </div>
      </div>

      <div class="mt-6 p-1">
        <p class="py-2 text-[16px] font-semibold">
          {{ "UPLOAD_FILES" | translate }}
        </p>
        <button
          (click)="fileInput.click()"
          class="flex gap-3 bg-[#235884] px-4 py-2 rounded-xl text-white"
        >
          <img src="assets/icons/upload-icon.png" alt="" class="w-[24px]" />
          <p class="text-[16px]">{{ "UPLOAD_FILESB" | translate }}</p>
        </button>
        <input
          type="file"
          formControlName="files"
          #fileInput
          (change)="onFileChange($event)"
          multiple
          class="hidden"
        />
        <table
          *ngIf="files.length > 0"
          class="mt-4 w-[350px] text-left border-collapse border border-gray-300"
        >
          <thead>
            <tr class="text-[12px] text-center">
              <th class="border border-gray-300 px-4 py-2">No</th>
              <th class="border border-gray-300 px-4 py-2">File Name</th>
              <th class="border border-gray-300 px-4 py-2">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let file of files; let i = index"
              class="text-[12px] text-center"
            >
              <td class="border border-gray-300 px-4 py-2">{{ i + 1 }}</td>
              <td class="border border-gray-300 px-4 py-2">
                <a href="#" (click)="downloadFile(file)">{{ file }}</a>
              </td>
              <td class="border border-gray-300 px-4 py-2">
                <div class="flex justify-center items-center">
                  <button
                    (click)="removeFile(i)"
                    class="text-red-500 hover:text-red-700"
                  >
                    <mat-icon
                      matListItemIcon
                      class="cursor-pointer"
                      style="color: #989898"
                      >delete</mat-icon
                    >
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

    <div class="flex justify-center my-6 gap-4">
      <button
        class="border rounded-3xl px-3 py-2 bg-[#C4C4C4] text-white"
        (click)="closeEditContract()"
      >
        {{ "CANCEL" | translate }}
      </button>
      <button
        class="border rounded-3xl px-5 py-2 bg-[#F8AA00] text-white"
        (click)="onEditNewContract()"
      >
        {{ "SAVE" | translate }}
      </button>
    </div>
  </div>
</div>
