<div class="p-2">
  <div class="p-4 flex justify-between items-center bg-[#FFFFFF] w-full">
    <p class="text-[#F8AA00] text-[18px]">{{ "CUSTOMER_ACC" | translate }}</p>
    <button
      *appHasPermission="{
        permission: 'CREATE',
        pageComponent: 'Customer Management'
      }"
      (click)="openCreate()"
      type="button"
      class="border border-[#235884] rounded-full text-[#235884] px-4 py-2 flex items-center"
    >
      <span class="material-icons mr-2">add</span>
      <p>{{ "NEW_CUSTOMER" | translate }}</p>
    </button>
  </div>

  <div class="bg-[#FFFFFF] rounded-lg shadow-lg py-6 px-10 mt-8 mx-4">
    <form [formGroup]="searchForm">
      <div class="grid grid-cols-3 gap-5">
        <div class="p-1">
          <app-input
            [label]="'CONTRACT_SEARCH' | translate"
            inputId="input"
            formControlName="input"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'ADDRESS' | translate"
            inputId="content"
            formControlName="content"
          ></app-input>
        </div>

        <div class="p-1">
          <app-select
            [label]="'STATUS' | translate"
            selectId="accountStatus"
            [options]="selectStatus"
            formControlName="accountStatus"
          ></app-select>
        </div>

        <div class="p-1">
          <app-input
            [label]="'FROM_DATE' | translate"
            selectId="fromDate"
            formControlName="fromDate"
            type="date"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'TO_DATE' | translate"
            selectId="toDate"
            formControlName="toDate"
            type="date"
          ></app-input>
        </div>

        <div class="p-1 flex justify-center items-center gap-4 mt-2">
          <button
            class="text-[#F7AA00] border border-[#F7AA00] px-4 py-2 rounded-full"
          >
            <div
              (click)="resetSearchForm()"
              class="flex justify-center items-center gap-2 cursor-pointer"
            >
              <span class="material-icons">restart_alt</span>
              <p>{{ "RESET" | translate }}</p>
            </div>
          </button>
          <button
            (click)="search()"
            class="bg-[#F7AA00] text-white px-4 py-2 rounded-full"
          >
            <div class="flex justify-center items-center space-x-1">
              <span class="material-icons">search</span>
              <p>{{ "SEARCH" | translate }}</p>
            </div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="flex justify-end p-3 mt-5 mr-12">
    <button
      (click)="exportUser()"
      class="bg-[#235884] text-white px-3 py-2 rounded-full flex items-center"
    >
      <span class="material-icons mr-2">download</span>
      {{ "EXPORT" | translate }}
    </button>
  </div>

  <div class="overflow-x-auto mt-6 mx-4">
    <table style="width: 180%" class="bg-white">
      <thead class="uppercase">
        <tr class="bg-[#E7EEF4] text-[16px] font-bold">
          <th class="py-6 px-8 text-center text-[#565D6D] fixed">
            {{ "NO" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D] fixed">
            {{ "FULL_NAME" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D] fixed">
            {{ "PHONE_NUMBER" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "EMAIL" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "BIRTHDAY" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "ADDRESS_T" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "NEWST_STATUS" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "NEWST_CREATED_AT" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "CREATED_BY" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "UPDATED_AT" | translate }}
          </th>
          <th class="py-2 px-8 text-center text-[#565D6D]">
            {{ "ACTION" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="searchData.length; else loading">
          <tr
            *ngFor="let account of searchData; let i = index"
            class="border-t text-gray-400 text-[14px]"
          >
            <td class="py-2 px-8 text-center fixed">
              {{ offset * size + (i + 1) }}
            </td>
            <td class="py-2 px-8 text-center fixed">{{ account.fullName }}</td>
            <td class="py-2 px-8 text-center fixed">
              {{ account.phoneNumber }}
            </td>
            <td class="py-2 px-8 text-center">
              {{ account.email }}
            </td>
            <td class="py-2 px-8 text-center">{{ account.birthDay }}</td>
            <td class="py-2 px-8 text-center">{{ account.address }}</td>
            <td class="py-2 px-8 text-center">
              <div class="flex justify-center items-center space-x-4">
                <label class="inline-flex items-center cursor-pointer">
                  <div
                    class="switch"
                    [class.checked]="account.status === 'ACTIVE'"
                    (click)="onChangeStatus(account)"
                  >
                    <div class="toggle"></div>
                  </div>
                </label>
              </div>
            </td>
            <td class="py-2 px-8 text-center">{{ account.createdAt }}</td>
            <td class="py-2 px-8 text-center">{{ account.createdBy }}</td>
            <td class="py-2 px-8 text-center">{{ account.updatedAt }}</td>
            <td class="py-2 px-8 text-center relative">
              <button
                mat-icon-button
                [matMenuTriggerFor]="action"
                class="material-icons cursor-pointer"
              >
                more_vert
              </button>
            </td>
            <mat-menu #action="matMenu">
              <button
                *appHasPermission="{
                  permission: 'CREATE',
                  pageComponent: 'Contract Management'
                }"
                (click)="createContract(account)"
                mat-menu-item
              >
                <div class="flex item-center justify-center w-full">
                  <span class="material-icons mr-2 text-gray-400"
                    >note_add</span
                  >
                  <span class="text-gray-400">{{
                    "MAKE_CONT" | translate
                  }}</span>
                </div>
              </button>
              <button (click)="viewDetail(account)" mat-menu-item>
                <div class="flex item-center justify-center w-full">
                  <span class="material-icons mr-2 text-gray-400">details</span>
                  <span class="text-gray-400">{{
                    "VIEW_DETAIL" | translate
                  }}</span>
                </div>
              </button>
              <button
                *appHasPermission="{
                  permission: 'EDIT',
                  pageComponent: 'Customer Management'
                }"
                (click)="editAcc(account.customerId)"
                mat-menu-item
              >
                <div class="flex item-center justify-center w-full">
                  <span class="material-icons mr-2 text-gray-400"
                    >edit_document</span
                  >
                  <span class="text-gray-400">{{ "EDIT" | translate }}</span>
                </div>
              </button>
              <button
                *appHasPermission="{
                  permission: 'DELETE',
                  pageComponent: 'Customer Management'
                }"
                (click)="deleteAcc(account.customerId)"
                mat-menu-item
              >
                <div class="flex item-center justify-center w-full">
                  <span class="material-icons mr-2 text-gray-400">delete</span>
                  <span class="text-gray-400">{{ "DELETE" | translate }}</span>
                </div>
              </button>
            </mat-menu>
          </tr>
        </ng-container>
        <ng-template #loading>
          <tr>
            <td colspan="6" class="py-16">
              <h1 class="font-bold flex justify-center text-xl items-center">
                {{ "NO_DATA" | translate }}
              </h1>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <app-paginator
    [offset]="offset"
    [totalOffset]="totalOffset"
    (change)="search($event)"
  ></app-paginator>
</div>
