<label for="upload" class="block text-sm font-medium text-gray-700 mb-2">
  Upload file here
</label>
<input type="file" id="upload" class="hidden" (change)="onFileSelected($event)"
  [accept]="file === 'image' ? 'image/*' : '.xls, .xlsx'" />
<button (click)="triggerFileUpload()" class="items-center flex rounded-full bg-[#4485FF] text-white px-3 py-2">
  Upload <mat-icon class="mr-2 ml-2">cloud_upload</mat-icon>
</button>
<div *ngIf="file === 'image'">
  <div *ngIf="selectedImage" class="mt-4">
    <img [src]="selectedImage" alt="Selected Image" class="max-w-xs rounded-lg" />
  </div>
</div>

<div *ngIf="file === 'excel'">
  show me excel
</div>


<!-- <ul *ngIf="control?.touched && control?.invalid"  class="dvs-validation-errors">
  <li *ngFor="let error of control?.errors | keyvalue">
    {{ errorMessages[error.key] || error.key }} {{ error.value }}
  </li>
</ul> -->

<!-- Add this to see the errors object -->
<ul *ngIf="isImageRequire" class="dvs-validation-errors">
  <li>
    {{'THIS_FILED_IS_REQUIRED' | translate}}
  </li>
</ul>