<div class="overflow-auto">
  <div class="flex justify-end mt-6">
    <button (click)="closeNewContractDetail()">
      <mat-icon matListItemIcon class="cursor-pointer mx-5">close</mat-icon>
    </button>
  </div>
  <div>
    <div class="flex justify-center items-center gap-4">
      <img src="assets/icons/contractid.png" alt="" class="w-[38px]" />
      <p class="text-[20px] font-bold">#{{ contractInfo.contractCode }}</p>
    </div>
    <div>
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "PACKAGE" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>
            {{
              currentLang === "vi"
                ? contractInfo.packageName?.vi
                : contractInfo.packageName?.en
            }}
          </p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "STATUS" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <span
            class="rounded-xl py-1 px-4"
            [ngClass]="{
            'bg-[#D8FFDC] text-[#18B427]': contractInfo.status === 'COMPLETE',
            'bg-[#FFE8DB] text-[#F16212]': contractInfo.status === 'CANCEL',
            'bg-[#FFF7DA] text-[#E0AF00]': contractInfo.status === 'PENDING',
            'bg-[#D8EEFF] text-[#0E9EF0]': contractInfo.status === 'ACTIVE',
            'bg-[#e5e1f6] text-[#9f8df9]': contractInfo.status === 'END',
          }"
          >
            {{
              (contractInfo.status === "COMPLETE"
                ? "STATUS_COMPLETE"
                : contractInfo.status === "CANCEL"
                ? "STATUS_CANCEL"
                : contractInfo.status === "ACTIVE"
                ? "STATUS_ACTIVE"
                : contractInfo.status === "END"
                ? "STATUS_END"
                : "STATUS_PENDING"
              ) | translate
            }}
          </span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "CUSTOMER" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.customerName }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "CONTRACT_SIGN" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.signatoryFullName }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "INVEST_AMOUNT" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.investAmount }} VND</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "TERM" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.term }} months</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "INTEREST_PERIOD" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.interestPaymentPeriod }} months</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "INTEREST_RATE" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.interestRate }} %</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "BONUS_RATE" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.bonusRate }} %</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "CREATEDAT" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.createdAt }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "STARTAT" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.fromTime }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "ENDAT" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.toTime }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "SERVICE" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <!-- <p>{{ contractInfo.service?.en }}</p> -->
          {{
            currentLang === "vi"
              ? contractInfo.service?.vi
              : contractInfo.service?.en
          }}
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "GIFT" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <!-- <p>{{ contractInfo.gift?.en }}</p> -->
          {{
            currentLang === "vi" ? contractInfo.gift?.vi : contractInfo.gift?.en
          }}
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "TOTAL_W_MONEY" | translate }}:</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.totalWithdrawMoney }} VND</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "TOTAL_R_MONEY" | translate }} VND</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.totalRemainingMoney }} VND</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <div class="text-[16px] text-gray-400 space-y-3">
          <p>{{ "TOTAL_AMOUNT" | translate }}</p>
        </div>
        <div class="text-[16px] space-y-3 text-end">
          <p>{{ contractInfo.totalAmount }} VND</p>
        </div>
      </div>

      <div class="mx-8 my-4">
        <h3 class="text-[16px] font-semibold py-4">
          {{ "INTEREST_HISTORY" | translate }}
        </h3>
        <div>
          <table class="w-full">
            <thead class="bg-[#BCE1FF] h-20 text-[16px]">
              <tr>
                <th class="text-center px-4">
                  {{ "PAYMENT_PERIOD" | translate }}
                </th>
                <th class="text-center px-4">{{ "STATUS" | translate }}</th>
                <th class="text-center px-4">
                  {{ "INTEREST_PAY_AMOUNT" | translate }}
                </th>
                <th class="text-center px-4">{{ "NOTE" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let history of contractInfo.interestPaymentHistories"
                class="border-b h-16"
              >
                <td class="text-center px-4">
                  {{ history.paymentPeriodTime }}
                </td>
                <td class="text-center px-4">
                  <div class="px-4">
                    <p
                      [ngClass]="{
                        'text-[#18B427] bg-[#D8FFDC]':
                          history.status === 'PAID',
                        'bg-[#FFF7DA] text-[#E0AF00]':
                          history.status === 'PENDING'
                      }"
                      class="rounded-full"
                    >
                      {{ history.status | titlecase }}
                    </p>
                  </div>
                </td>
                <td class="text-center px-4">
                  {{ history.interestPaymentAmount }} VND
                </td>
                <td class="text-center px-4">{{ history.note }}</td>
              </tr>
            </tbody>
          </table>

          <div class="my-4">
            <h2 class="font-semibold">Uploaded Files</h2>
          </div>
          <div
            class="overflow-y-auto h-[300px] bg-[#eaf1f7] my-4 p-4 rounded-md shadow-md grid-cols-2"
          >
            <div *ngIf="contractInfo.files.length > 0; else noFilesMessage">
              <div
                class="p-2"
                *ngFor="let file of contractInfo.files; let i = index"
              >
                <div class="p-3 grid grid-cols-4 bg-white rounded-xl shadow-md">
                  <div class="flex items-center justify-center">
                    <ng-container
                      *ngIf="file.endsWith('.xlsx'); else otherIcons"
                    >
                      <img
                        src="assets/icons/xlsx.png"
                        alt="Excel Icon"
                        class="w-[45px]"
                      />
                    </ng-container>

                    <ng-template #otherIcons>
                      <ng-container
                        *ngIf="file.endsWith('.png'); else docxPdfTxtIcon"
                      >
                        <img
                          src="assets/icons/png.png"
                          alt="PNG Icon"
                          class="w-[45px]"
                        />
                      </ng-container>

                      <ng-template #docxPdfTxtIcon>
                        <ng-container
                          *ngIf="file.endsWith('.pdf'); else docxIcon"
                        >
                          <img
                            src="assets/icons/pdf.png"
                            alt="PDF Icon"
                            class="w-[45px]"
                          />
                        </ng-container>

                        <ng-template #docxIcon>
                          <ng-container
                            *ngIf="file.endsWith('.docx'); else txtIcon"
                          >
                            <img
                              src="assets/icons/docx.png"
                              alt="DOCX Icon"
                              class="w-[45px]"
                            />
                          </ng-container>

                          <ng-template #txtIcon>
                            <ng-container *ngIf="file.endsWith('.txt')">
                              <img
                                src="assets/icons/txt.png"
                                alt="TXT Icon"
                                class="w-[45px]"
                              />
                            </ng-container>
                          </ng-template>
                        </ng-template>
                      </ng-template>
                    </ng-template>
                  </div>
                  <div class="col-span-2">
                    <div class="">
                      <a href="{{ file }}">{{ file.split("/").pop() }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ng-template #noFilesMessage>
            <div
              class="p-4 flex justify-center items-center text-gray-600 h-full"
            >
              <p>{{ "NO_FILES" | translate }}</p>
            </div>
          </ng-template>
        </div>

        <div
          *ngIf="
            contractInfo.status === 'ACTIVE' ||
            contractInfo.status === 'COMPLETE' ||
            contractInfo.status === 'CANCEL'
          "
          class="flex justify-end items-center mt-4"
        >
          <button
            class="border rounded-3xl px-5 py-2 bg-[#F8AA00] text-white"
            (click)="closeDetail()"
          >
            Close
          </button>
        </div>

        <div
          class="flex justify-end my-4 gap-4"
          *ngIf="contractInfo.status === 'PENDING'"
        >
          <button
            class="border rounded-3xl px-4 py-2"
            [ngClass]="{
              'bg-[#18B427] text-white': !(
                contractInfo.status === 'ACTIVE' ||
                contractInfo.status === 'CANCEL' ||
                contractInfo.status === 'COMPLETE'
              ),
              'bg-gray-400 text-gray-600':
                contractInfo.status === 'ACTIVE' ||
                contractInfo.status === 'CANCEL' ||
                contractInfo.status === 'COMPLETE'
            }"
            (click)="detailApprove(contractInfo.id)"
            [disabled]="
              contractInfo.status === 'ACTIVE' ||
              contractInfo.status === 'CANCEL' ||
              contractInfo.status === 'COMPLETE'
            "
          >
            {{ "APPROVE" | translate }}
          </button>

          <button
            [ngClass]="{
              'bg-[#EB0004] text-white': !(
                contractInfo.status === 'ACTIVE' ||
                contractInfo.status === 'CANCEL' ||
                contractInfo.status === 'COMPLETE'
              ),
              'bg-gray-400 text-gray-600':
                contractInfo.status === 'ACTIVE' ||
                contractInfo.status === 'CANCEL' ||
                contractInfo.status === 'COMPLETE'
            }"
            [disabled]="
              contractInfo.status === 'ACTIVE' ||
              contractInfo.status === 'CANCEL' ||
              contractInfo.status === 'COMPLETE'
            "
            class="border rounded-3xl px-4 py-2"
            (click)="detailCancelRequest(contractInfo.id)"
          >
            {{ "CANCEL_REQ" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cancelRequestFinalModal>
  <div class="m-8">
    <form action="" [formGroup]="cancelReqForm">
      <h3 class="text-[20px] font-semibold py-2">
        {{ "CONTRACT_C_REQ" | translate }}
      </h3>
      <div class="p-1">
        <app-input
          [label]="'REASON_L' | translate"
          inputId="resason"
          formControlName="resason"
        ></app-input>
      </div>
    </form>
    <div class="flex justify-end gap-4 pt-6">
      <button
        class="border rounded-3xl px-3 py-2 bg-[#C4C4C4] text-white"
        (click)="closeDetailCancelReq()"
      >
        {{ "CLOSE" | translate }}
      </button>
      <button
        class="border rounded-3xl px-5 py-2 bg-[#F8AA00] text-white"
        (click)="cancelReq()"
      >
        {{ "CANCEL_REQ" | translate }}
      </button>
    </div>
  </div>
</ng-template>
