.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.autocomplete-container {
  position: relative;
}

ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  max-height: 250px;
  overflow-y: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1000;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background-color: #ddd;
}

.highlighted {
  background-color: #f0f0f0;
  /* Change to your desired highlight color */
  cursor: pointer;
}
