<div class="p-6">
  <h1 class="my-4 font-bold text-[20px]">{{ "ACCOUNT_DETAIL" | translate }}</h1>

  <div class="p-4 bg-white shadow-sm">
    <div class="grid grid-cols-3 gap-4">
      <div class="p-4">
        <p class="text-[#4E535D] text-[14px] font-bold">
          {{ "PERSONAL_INFO" | translate }}
        </p>
      </div>
      <div class="col-span-2 p-4">
        <div class="flex justify-start gap-8 border-b">
          <div>
            <img [src]="avatar" class="w-[77px] h-[77px]" />
          </div>
          <div class="p-2">
            <p class="text-[20px] font-bold">
              {{ detail.element.fullName }}
            </p>
            <div class="my-2">
              <p
                class="text-[12px] flex justify-center items-center text-white rounded-full py-1 w-[70px]"
                [ngClass]="{
                  'bg-[#18B427]': detail.element.status === 'ACTIVE',
                  'bg-red-500': detail.element.status === 'INACTIVE'
                }"
              >
                {{ detail.element.status }}
              </p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2">
          <div>
            <div class="mt-4 mb-2">
              <p class="text-[14px]">
                {{ "DOB" | translate }}
                <span class="font-semibold">{{ detail.element.birthDay }}</span>
              </p>
            </div>
            <div class="my-2">
              <p class="text-[14px]">
                {{ "GENDER" | translate }}
                <span class="font-semibold">Male</span>
              </p>
            </div>
          </div>
          <div class="my-4">
            <div>
              <p class="text-[14px]">
                {{ "PHONE_NO" | translate }}
                <span class="font-semibold">{{
                  detail.element.phoneNumber
                }}</span>
              </p>
            </div>
            <div class="my-2">
              <p class="text-[14px]">
                {{ "E_MAIL" | translate }}
                <span class="font-semibold">{{ detail.element.email }}</span>
              </p>
            </div>
            <div>
              <p class="text-[14px]">
                {{ "ADDRESS" | translate }}
                <span class="font-semibold">{{ detail.element.address }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 flex">
    <p class="text-gray-400">{{ "CREATED_BY_L" | translate }}:</p>
    <div class="flex" *ngFor="let name of createdBy; let i = index">
      <p class="font-bold ml-2">{{ name.fullName }}</p>
      <span
        *ngIf="i < createdBy.length - 1"
        class="material-icons ml-2 text-blue-500"
        >arrow_right_alt</span
      >
    </div>
  </div>

  <div class="mt-5">
    <h2 class="font-semibold text-lg">{{ "CONTRACT_HISTORY" | translate }}</h2>
    <div *ngIf="contractHistory.length > 0; else noContractHistory">
      <div
        class="flex flex-wrap justify-evenly gap-6 my-4 w-full overflow-auto"
      >
        <div *ngFor="let item of contractHistory">
          <div
            class="border-[1.5px] border-[#E6E9EE] rounded-lg px-4 py-2 bg-white w-[370px]"
          >
            <div
              class="flex justify-end items-center border-b-[1.5px] p-[18px]"
            >
              <p class="text-[14px] text-gray-400">{{ item.createdAt }}</p>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-4">
              <div class="flex justify-start items-center gap-4">
                <img
                  src="assets/icons/contractid.png"
                  alt=""
                  class="w-[32px]"
                />
                <p class="text-[16px] font-bold">#{{ item.contractCode }}</p>
              </div>

              <div class="space-y-3 text-end my-2">
                <span
                  class="border px-2 rounded-lg text-[14px] py-1"
                  [ngClass]="{
                'bg-[#D8FFDC] text-[#18B427]': item.status === 'COMPLETE',
                'bg-[#FFE8DB] text-[#F16212]': item.status === 'CANCEL',
                'bg-[#FFF7DA] text-[#E0AF00]': item.status === 'PENDING',
                'bg-[#D8EEFF] text-[#0E9EF0]': item.status === 'ACTIVE',
                'bg-[#e5e1f6] text-[#9f8df9]': item.status === 'END',

              }"
                >
                  {{
                    (item.status === "COMPLETE"
                      ? "STATUS_COMPLETE"
                      : item.status === "CANCEL"
                      ? "STATUS_CANCEL"
                      : item.status === "ACTIVE"
                      ? "STATUS_ACTIVE"
                      : item.status === "END"
                      ? "STATUS_END"
                      : "STATUS_PENDING"
                    ) | translate
                  }}
                </span>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4">
              <p class="text-[14px] text-gray-400">
                {{ "CUSTOMER" | translate }}:
              </p>
              <p class="text-[14px] space-y-3 text-end font-semibold">
                {{ item.customerName }}
              </p>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "INVEST_AMOUNT" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.investAmount }} VND</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "TERM" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.term }} months</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "INTEREST_RATE" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.interestRate }} %</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "BONUS_RATE" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.bonusRate }} %</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "STARTAT" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.fromTime }}</p>
              </div>
            </div>

            <div class="grid grid-cols-2 gap-4 mx-4 my-2">
              <div class="text-[14px] text-gray-400 space-y-3">
                <p>{{ "ENDAT" | translate }}:</p>
              </div>
              <div class="text-[14px] space-y-3 text-end font-semibold">
                <p>{{ item.toTime }}</p>
              </div>
            </div>

            <div
              (click)="contractDetail(item.id)"
              class="text-[#164C7A] text-[14px] font-semibold flex justify-end mx-4 my-6"
            >
              <p class="underline cursor-pointer">
                {{ "VIEW_C_DETAIL" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noContractHistory>
      <div class="text-center p-16 text-[#B1B1B1] text-[20px]">
        {{ "NO_CONTRACT" | translate }}
      </div>
    </ng-template>
  </div>
</div>
<app-paginator
  [offset]="offset"
  [totalOffset]="totalOffset"
  (change)="forDetailHistory($event)"
></app-paginator>
