<form action="" [formGroup]="editContractsForm">
  <div class="overflow-auto">
    <div class="flex justify-end mt-6">
      <button (click)="closeEditReq()">
        <mat-icon matListItemIcon class="cursor-pointer mx-5">close</mat-icon>
      </button>
    </div>

    <div *ngIf="viewDetailContract.packageDetails">
      <div class="flex justify-center items-center gap-4">
        <img src="assets/icons/contractid.png" alt="" class="w-[38px]" />
        <p class="text-[20px] font-bold">
          <!-- {{ viewDetailContract.packageId }} -->
          {{ "REQUEST_CONTRACTS" | translate }}
        </p>
      </div>
    </div>

    <div *ngIf="viewDetailContract.packageDetails">
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "PACKAGE" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{
            currentLang === "vi"
              ? viewDetailContract.packageDetails.name?.vi
              : viewDetailContract.packageDetails.name?.en
          }}
        </p>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mx-8 my-4">
      <p class="text-[16px] text-gray-400 flex items-center">
        {{ "STATUS" | translate }}:
      </p>
      <div class="flex justify-end items-center">
        <div class="text-[16px] space-y-3 w-[200px]">
          <app-select
            selectId="status"
            [options]="selectStatus"
            formControlName="status"
            controlName="status"
          ></app-select>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mx-8 my-4">
      <p class="text-[16px] text-gray-400">{{ "CUSTOMER" | translate }}:</p>
      <p class="text-[16px] space-y-3 text-end">
        {{ viewDetailContract.customerName }}
      </p>
    </div>
    <div *ngIf="viewDetailContract">
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400 flex items-center">
          {{ "ASSIGNSALE" | translate }}:
        </p>
        <div class="text-[16px] space-y-3 flex justify-end">
          <div class="autocomplete-container">
            <input
              type="text"
              class="appearance-none border border-[#454F6380] rounded-lg w-full py-2.5 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              [formControl]="editControl"
              (focus)="editSuggestions = true"
              (blur)="hideSuggestions()"
              formControlName="assignAccountFullName"
            />
            <ul *ngIf="editSuggestions && editDataSuggestions.length > 0">
              <li
                *ngFor="let suggestion of editDataSuggestions"
                (mousedown)="selectSuggestion(suggestion)"
              >
                {{ suggestion }}
              </li>
            </ul>
            <div *ngIf="inputValue && editDataSuggestions.length === 0">
              <p class="text-red-600 text-[12.5px] mt-1">
                {{ "NO_Search" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mx-8 my-4">
      <p class="text-[16px] text-gray-400">
        {{ "INVEST_AMOUNT" | translate }}:
      </p>
      <p class="text-[16px] space-y-3 text-end">
        {{ viewDetailContract.investAmount }} VND
      </p>
    </div>

    <div *ngIf="viewDetailContract.packageDetails">
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "TERM" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.packageDetails.term }} months
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">
          {{ "INTEREST_PERIOD" | translate }}:
        </p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.packageDetails.paymentPeriod }} months
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">
          {{ "INTEREST_RATE" | translate }}:
        </p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.packageDetails.interestRate }}%
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "BONUS_RATE" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.packageDetails.bonusRate }}%
        </p>
      </div>
    </div>

    <div *ngIf="viewDetailContract">
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "CREATEDAT" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.createdAt }}
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "STARTAT" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.fromTime }}
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "ENDAT" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{ viewDetailContract.toTime }}
        </p>
      </div>
    </div>

    <div *ngIf="viewDetailContract.packageDetails">
      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "SERVICE" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{
            currentLang === "vi"
              ? viewDetailContract.packageDetails.service?.vi
              : viewDetailContract.packageDetails.service?.en
          }}
        </p>
      </div>

      <div class="grid grid-cols-2 gap-4 mx-8 my-4">
        <p class="text-[16px] text-gray-400">{{ "GIFT" | translate }}:</p>
        <p class="text-[16px] space-y-3 text-end">
          {{
            currentLang === "vi"
              ? viewDetailContract.packageDetails.gift?.vi
              : viewDetailContract.packageDetails.gift?.en
          }}
        </p>
      </div>
    </div>

    <div *ngIf="viewDetailContract">
      <div class="mx-8 my-4">
        <h2 class="font-bold text-gray-500">{{ "NOTE" | translate }}</h2>
        <textarea
          type="text"
          class="w-full h-[100px] focus:outline-none border border-gray-300 text-[16px] text-gray-500 rounded-lg px-4 py-3"
          formControlName="note"
        >
          {{ viewDetailContract.note }}
          </textarea
        >
      </div>

      <div class="flex justify-end my-4 gap-4 mx-8">
        <button
          class="border rounded-3xl px-5 py-2 bg-[#18B427] text-white"
          (click)="saveEditReq()"
        >
          {{ "SAVE" | translate }}
        </button>
        <button
          class="border rounded-3xl px-3 py-2 bg-[#EB0004] text-white"
          (click)="cancelEditReq()"
        >
          {{ "CANCEL" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
