::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: #a0a2a9;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.switch.checked {
    background-color: #22c55e;
}

.toggle {
    width: 17px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

.switch.checked .toggle {
    left: 21px;
}


.fixed {
    position: sticky;
    z-index: 5;
    background-color: #E7EEF4;
}

.fixed:nth-child(1) {
    left: 0;
    width: 90px;
}

.fixed:nth-child(2) {
    left: 90px;
}



tbody td.fixed {
    background-color: white;

}