<mat-nav-list class="bg-[#2A2F4F] h-full flex flex-col overflow-hidden">
  <div class="sidenav-header flex justify-center gap-3" [ngClass]="sideNavCollapsed() ? 'py-9' : 'p-6'"
    style="flex-shrink: 0">
    <div>
      <img src="assets/image/FTTH_logo.png" alt="" class="w-[90px]" />
    </div>
  </div>

  <div class="overflow-y-auto flex-grow pb-10" style="max-height: calc(100vh - 100px)">
    <div *ngFor="let item of menuItem()">
      <app-sub-menu [item]="item" [collapsed]="sideNavCollapsed()" (closeSidenav)="collapseSidenav()"></app-sub-menu>
    </div>
  </div>
</mat-nav-list>