<div class="w-full p-6 bg-gray-200 h-full">
  <div class="w-full p-8 bg-white">
    <form [formGroup]="searchTable" class="grid grid-cols-3 gap-5">
      <app-select
        label="Branch Name"
        selectId="branch_name"
        [options]="branchStatus"
        formControlName="status"
        controlName="status"
        placeholder="Enter branch name"
      ></app-select>
      <app-select
        label="Township"
        selectId="township"
        [options]="townShipStatus"
        formControlName="township"
        controlName="township"
        placeholder="Enter township"
      ></app-select>
      <app-select
        label="FBB Leader Name"
        selectId="fbbLeader"
        [options]="fbbLeaderStatus"
        formControlName="fbbLeader"
        controlName="fbbLeader"
        placeholder="Enter FBB leader name"
      ></app-select>
      <app-select
        label="D2D"
        selectId="d2d"
        [options]="d2dStaus"
        formControlName="d2d"
        controlName="d2d"
        placeholder="Enter D2D name"
      ></app-select>
      <div></div>
      <div class="flex justify-center items-center pt-5">
        <button
          (click)="searchButton()"
          class="rounded-2xl bg-blue-600 text-white w-[120px] h-[40px]"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <div class="bg-white mt-10 w-2/3 mx-auto p-4 space-y-4">
    <div
      *ngFor="let item of items"
      class="flex rounded-md p-2 w-full cursor-pointer"
      [ngClass]="item.backgroundColor"
    >
      <div class="w-6/12">
        <p class="text-xl text-[#444] font-bold">{{ item.label }}</p>
      </div>
      <div class="w-2/12">
        <p class="text-xl">{{ item.value1 }}</p>
      </div>
      <div class="w-2/12">
        <p class="text-xl font-bold">{{ item.value2 }}</p>
      </div>
      <div class="w-2/12">
        <p class="text-xl font-bold">{{ item.percentage }}</p>
      </div>
      <div class="w-2/12 flex items-center pl-8">
        <mat-icon style="color: #fd6d1a">arrow_forward</mat-icon>
      </div>
    </div>
  </div>
</div>
