<div class="p-2">
  <div class="p-4 flex justify-between items-center bg-[#FFFFFF] w-full">
    <p class="text-[#F8AA00] text-[20px]">
      {{ "FEEDBACK_AND_SUGGESTIONS" | translate }}
      <span class="text-[#000000] text-[20px]"
        >> {{ "USER_FEEDBACKS" | translate }}
      </span>
    </p>
  </div>

  <div class="bg-[#FFFFFF] rounded-2xl shadow-lg p-6 mt-4">
    <form [formGroup]="createForm">
      <div class="grid grid-cols-3 gap-5">
        <div class="p-1">
          <app-input
            [label]="'EMAIL' | translate"
            inputId="email"
            formControlName="email"
          ></app-input>
        </div>
        <div class="p-1">
          <ng-container *ngIf="selectStatus.length; else emptySelect">
            <app-select
              [label]="'STATUS' | translate"
              selectId="test"
              [options]="selectStatus"
              formControlName="status"
              controlName="status"
            ></app-select>
          </ng-container>
          <ng-template #emptySelect>
            <app-loading [condition]="'input'"></app-loading>
          </ng-template>
        </div>
        <div class="p-1">
          <app-input
            [label]="'CREATED_DATE' | translate"
            inputId="date"
            formControlName="date"
            type="date"
          ></app-input>
        </div>
        <div></div>
        <div></div>
        <div class="p-1 flex justify-end space-x-4 mt-2">
          <button
            class="text-[#F7AA00] border border-[#F7AA00] px-4 py-2 rounded-2xl"
            (click)="reset()"
          >
            <div class="flex justify-center items-center space-x-1">
              <img
                src="assets/icons/refresh-icon.png"
                alt=""
                class="w-[18px]"
              />
              <p class="whitespace-nowrap">{{ "RESET" | translate }}</p>
            </div>
          </button>
          <button
            (click)="search()"
            class="bg-[#F7AA00] text-white px-4 py-2 rounded-2xl"
          >
            <div class="flex justify-center items-center space-x-1">
              <img src="assets/icons/search.png" alt="" class="w-[18px]" />
              <p class="whitespace-nowrap">{{ "SEARCH" | translate }}</p>
            </div>
          </button>

          <ng-container *ngIf="selectStatus.length; else emptyDownloadButton">
            <button
              (click)="download()"
              class="bg-[#1F6ADA] text-white px-4 py-2 rounded-2xl"
            >
              <div class="flex justify-center items-center space-x-1">
                <img src="assets/icons/down.png" alt="" class="w-[18px]" />
                <p class="whitespace-nowrap">{{ "DOWNLOAD" | translate }}</p>
              </div>
            </button>
          </ng-container>
          <ng-template #emptyDownloadButton>
            <button
              disabled
              class="bg-[#999] text-white px-4 py-2 rounded-2xl flex gap-1 items-center whitespace-nowrap"
            >
              <span>
                <mat-spinner [diameter]="15"></mat-spinner>
              </span>
              {{ "DOWNLOAD" | translate }}
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>

  <div class="mt-8">
    <table class="w-full">
      <thead class="bg-[#E7EEF4] h-20 uppercase">
        <tr>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "NO" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "REQUEST_EMAIL" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "Detail_fb" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "STATUS" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "CREATEDAT" | translate }}
          </th>
          <th class="text-center text-[#565D6D] text-base px-4">
            {{ "ACTION" | translate }}
          </th>
        </tr>
      </thead>
      <tbody class="text-[#687489]">
        <ng-container *ngIf="feedbacks.length; else emptyResult">
          <tr
            class="border-b h-16"
            *ngFor="let item of feedbacks; let i = index"
          >
            <td class="text-center text-[#687489] text-sm px-4">
              {{ offset * size + (i + 1) }}
            </td>
            <td class="text-center text-[#687489] text-sm px-4">
              {{ item.email }}
            </td>
            <td class="text-center text-[#687489] text-sm px-4">
              {{ item.content }}
            </td>
            <td class="text-center text-white text-sm px-4">
              <span
                [ngClass]="
                  item.status === 'PROCESSED'
                    ? 'bg-[#18B427] rounded-xl px-2 py-1'
                    : 'bg-[#E0AF00] rounded-xl px-4 py-1'
                "
              >
                {{ item.status }}
              </span>
            </td>
            <td class="text-center text-[#687489] text-sm px-4">
              {{ item.create }}
            </td>
            <td class="text-center text-[#687489] px-4">
              <button (click)="infoDetail(item)">
                <mat-icon
                  matListItemIcon
                  class="cursor-pointer"
                  style="color: #989898"
                  >info</mat-icon
                >
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #emptyResult>
          <tr>
            <td colspan="6" class="py-16">
              <div
                *ngIf="!isLoading"
                class="flex items-start justify-center w-full"
              >
                <mat-icon svgIcon="heroicons_solid:inbox"></mat-icon>
                <p>{{ "NO_SEARCH_RESULT" | translate }}</p>
              </div>
              <div *ngIf="isLoading">
                <span class="flex justify-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <app-paginator
      [offset]="offset"
      [totalOffset]="totalOffset"
      (change)="search($event)"
    ></app-paginator>
  </div>
</div>
