<form class="py-12 px-6" [formGroup]="createAdminAcc">
  <h1 class="flex justify-center mb-6 text-xl font-bold">
    {{ headerTitle }}
  </h1>
  <div class="grid grid-cols-2 gap-4 py-3">
    <div>
      <app-input
        [label]="'NAME' | translate"
        inputId="fullName"
        formControlName="fullName"
      ></app-input>
    </div>
    <div>
      <app-input
        [label]="'PHONE_NO' | translate"
        inputId="phoneNumber"
        formControlName="phoneNumber"
      ></app-input>
    </div>
    <div>
      <app-input
        [label]="'E_MAIL' | translate"
        inputId="email"
        formControlName="email"
      ></app-input>
    </div>
    <div>
      <ng-container *ngIf="selectRole.length; else emptyResult">
        <app-select
          [label]="'ROLE' | translate"
          selectId="selectRole"
          [options]="selectRole"
          formControlName="roleId"
          controlName="roleId"
          placeholder="select role"
        ></app-select>
      </ng-container>
      <ng-template #emptyResult>
        <app-loading [condition]="'input'"></app-loading>
      </ng-template>
    </div>
    <div>
      <label class="text-[#4E535D] text-sm pb-1">{{
        "GENDER_ADMIN" | translate
      }}</label>
      <div class="form-box flex gap-8">
        <label>
          <input type="radio" formControlName="gender" value="MALE" />
          <div class="circle"></div>
          <span>{{ "MALE" | translate }}</span>
        </label>
        <label>
          <input type="radio" formControlName="gender" value="FEMALE" />
          <div class="circle"></div>
          <span>{{ "FEMALE" | translate }}</span>
        </label>
      </div>
    </div>
    <div></div>
  </div>
  <div class="flex justify-center gap-6">
    <button
      (click)="close()"
      class="px-4 py-2 text-white bg-[#C4C4C4] rounded-full"
    >
      {{ "CANCEL" | translate }}
    </button>
    <button
      (click)="createAdminstrator()"
      class="bg-[#F7AA00] text-white px-4 py-2 rounded-full"
    >
      {{ btnText }}
    </button>
  </div>
</form>
