<div class="w-full h-full bg-gray-200">
  <div class="p-8 flex justify-end items-center">
    <button
      (click)="openCreate()"
      class="bg-[#2A2F4F] rounded-full px-3 py-2 text-white font-bold flex items-center"
    >
      <span class="mr-2">Create new</span>
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <div class="overflow-x-auto p-8">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
        <tr class="bg-[#E6E8F1] text-black">
          <th class="py-3 px-6 text-center">No</th>
          <th class="py-3 px-6 text-center">File Name</th>
          <th class="py-3 px-6 text-center">Reason</th>
          <th class="py-3 px-6 text-center">Created At</th>
          <th class="py-3 px-6 text-center">Status</th>
          <th class="py-3 px-6 text-center">Action</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <tr *ngFor="let item of tableData" class="border-b border-gray-200">
          <td class="py-3 px-6 text-center">{{ item.id }}</td>
          <td class="py-3 px-6 text-center">{{ item.fileName }}</td>
          <td class="py-3 px-6 text-center">{{ item.reason }}</td>
          <td class="py-3 px-6 text-center">{{ item.date }}</td>
          <td class="py-3 px-6 text-center">
            <div class="flex items-center justify-center">
              <span
                class="font-semibold rounded-full w-28 py-2"
                [ngClass]="{
                  'bg-[#F8F49B] text-[#766E19]': item.status === 'Processing',
                  'bg-[#FFC2C2] text-[#F33333]': item.status === 'Fail',
                  'bg-[#E2FFBF] text-[#3FA026]': item.status === 'Imported'
                }"
              >
                {{ item.status }}
              </span>
            </div>
          </td>
          <td class="py-3 px-6 text-center">
            <mat-icon class="cursor-pointer" (click)="onDelete()">
              delete
            </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator></app-paginator>
  </div>
</div>
