<div class="p-4">
  <p class="font-bold text-xl">{{'FEEDBACK_DETAIL' | translate}}</p>

  <div class="py-8">
    <div class="grid grid-cols-2 border-b-2 border-[#E2E2E2] pb-5">
      <p class="text-[#4E535D] text-base font-bold">{{'REQUEST_EMAIL' | translate}}</p>
      <p class="text-base font-medium text-black">{{data.email}}</p>
    </div>
    <div class="grid grid-cols-2 border-b-2 border-[#E2E2E2] py-5">
      <p class="text-[#4E535D] text-base font-bold">{{'CONTENT' | translate}}</p>
      <p class="text-base font-medium text-[#687489]">{{data.content}}</p>
    </div>
    <div class="grid grid-cols-2 border-b-2 border-[#E2E2E2] py-5">
      <p class="text-[#4E535D] text-base font-bold">{{'STATUS' | translate}}</p>
      <div class="flex">
        <p 
          class="text-white text-base" 
          [ngClass]="data.status === 'PROCESSED' ? 'bg-[#18B427] rounded-xl px-2 py-1' : 'bg-[#E0AF00] rounded-xl px-4 py-1'"
        >
          {{data.status}}
        </p>
      </div>
      
    </div>
    <div class="grid grid-cols-2 border-b-2 border-[#E2E2E2] py-5">
      <p class="text-[#4E535D] text-base font-bold">{{'CREATEDAT' | translate}}</p>
      <p class="text-base font-medium text-[#687489]">{{data.create}}</p>
    </div>
  </div>

  <div class="flex justify-end">
    <button
        (click)="close()"
        class="px-3 py-3 text-white bg-[#C4C4C4] rounded-3xl"
      >
        {{'CLOSE' | translate}}
      </button>
      <button
        (click)="process()"
        class="px-3 py-3 text-white  rounded-3xl ml-4 flex gap-2 bg-[#F8AA00]"
      >
        {{'PROCESS' | translate}}
      </button>
  </div>
</div>

