<div class="p-2">
  <div class="p-4 flex justify-between items-center bg-[#FFFFFF] w-full">
    <p class="text-[#F8AA00] text-[18px]">
      {{ "MANAGE_PACKAGE" | translate }}
    </p>
    <button
      *appHasPermission="{
        permission: 'CREATE',
        pageComponent: 'Package Management'
      }"
      (click)="openCreatePackageModal()"
      type="button"
      class="rounded-full border border-[#235884] px-4 py-2 hover:cursor-pointer"
    >
      <div class="flex justify-center items-center space-x-1">
        <img src="assets/icons/plus.png" alt="" class="w-[18px]" />
        <p>{{ "NEWSB_CREATE" | translate }}</p>
      </div>
    </button>
  </div>
  <div class="bg-[#FFFFFF] rounded-md shadow-md p-6 mt-4 mx-4">
    <form action="" [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="flex justify-start items-center p-3 space-x-12">
        <div class="p-1 w-2/3">
          <app-input
            [label]="'PACKAGE_NAME' | translate"
            inputId="name"
            formControlName="packageName"
          ></app-input>
        </div>
        <button
          class="bg-[#F7AA00] text-white px-4 py-2 rounded-full mt-6"
          type="submit"
        >
          <div class="flex justify-center items-center space-x-1">
            <img src="assets/icons/search.png" alt="" class="w-[18px]" />
            <p>{{ "SEARCH" | translate }}</p>
          </div>
        </button>
      </div>
    </form>
  </div>
  <div class="my-6 mx-4 bg-white overflow-x-auto">
    <table style="width: 140%">
      <thead class="bg-[#E7EEF4] h-20">
        <tr class="text-[16px] text-[#565D6D] uppercase">
          <th class="text-center px-4 fixed">{{ "NO" | translate }}</th>
          <th class="text-center px-4 fixed">
            {{ "PACKAGE_NAME_T" | translate }}
          </th>
          <th class="text-center px-4">{{ "TERM_T" | translate }}</th>
          <th class="text-center px-4">{{ "INTEREST_RATE_T" | translate }}</th>
          <th class="text-center px-4">{{ "SERVICE_T" | translate }}</th>
          <th class="text-center px-4">{{ "NEWST_STATUS" | translate }}</th>
          <th class="text-center px-4">{{ "START_DATE_T" | translate }}</th>
          <th class="text-center px-4">{{ "END_DATE_T" | translate }}</th>
          <th class="text-center px-4">{{ "ACTION" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="packages.length; else emptyResult">
          <tr
            class="border-b h-16 text-[14px] text-[#687489]"
            *ngFor="let package of packages; let i = index"
          >
            <td class="text-center px-4 fixed">
              {{ offset * size + (i + 1) }}
            </td>
            <td class="text-center px-4 fixed">
              <!-- {{ package.name.en }} -->
              {{ package.name[currentLang] || package.name.vi }}
            </td>
            <td class="text-center px-4">{{ package.term }} months</td>
            <td class="text-center px-4">{{ package.interestRate }}%</td>
            <td
              class="text-center px-4"
              [innerHTML]="package.service[currentLang] || package.service.vi"
            ></td>

            <td class="text-center px-4">
              <div class="flex justify-center items-center space-x-4">
                <label class="inline-flex items-center cursor-pointer">
                  <div
                    class="switch"
                    [class.checked]="package.status === 'ACTIVE'"
                    (click)="onChangeStatus(package)"
                  >
                    <div class="toggle"></div>
                  </div>
                </label>
              </div>
            </td>
            <td class="text-center px-4">{{ package.fromTime }}</td>
            <td class="text-center px-4">{{ package.toTime }}</td>
            <td class="text-center px-4">
              <div class="flex justify-center items-center space-x-4">
                <button (click)="openDetailPackageModal(package)">
                  <img
                    src="assets/icons/info-circle-icon.png"
                    alt=""
                    class="w-[20px]"
                  />
                </button>
                <button
                  *appHasPermission="{
                    permission: 'EDIT',
                    pageComponent: 'Package Management'
                  }"
                  (click)="openEditPackageModal(package)"
                >
                  <img
                    src="assets/icons/edit-icon.png"
                    alt=""
                    class="w-[20px]"
                  />
                </button>
                <button
                  *appHasPermission="{
                    permission: 'DELETE',
                    pageComponent: 'Package Management'
                  }"
                  (click)="deletePackage(package)"
                >
                  <img
                    src="assets/icons/trash-icon.png"
                    alt=""
                    class="w-[20px]"
                  />
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #emptyResult>
          <tr>
            <td colspan="9" class="py-16">
              <div
                *ngIf="!isLoading"
                class="flex items-start justify-center w-full"
              >
                <mat-icon svgIcon="heroicons_solid:inbox"></mat-icon>
                <p>{{ "NO_SEARCH_RESULT" | translate }}</p>
              </div>
              <div *ngIf="isLoading">
                <span class="flex justify-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <app-paginator
    [offset]="offset"
    [totalOffset]="totalOffset"
    (change)="search($event)"
  ></app-paginator>
</div>

<ng-template #createPackageModal>
  <div class="overflow-y-auto p-4 mx-8">
    <div class="flex justify-end items-center">
      <button (click)="close()">
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </div>
    <div class="flex justify-center items-center p-4" *ngIf="!isEdit">
      <p class="text-[#000000] text-[20px] font-semibold">
        {{ "CREATE_NEW_PACKAGE" | translate }}
      </p>
    </div>
    <div class="flex justify-center items-center p-4" *ngIf="isEdit">
      <p class="text-[#000000] text-[20px] font-semibold">
        {{ "EDIT_NEW_PACKAGE" | translate }}
      </p>
    </div>
    <div class="grid grid-cols-2 gap-5" [formGroup]="createForm">
      <div class="p-1">
        <app-input
          [label]="'TERM_L' | translate"
          inputId="term"
          formControlName="term"
          type="text"
        ></app-input>
      </div>
      <div class="p-1">
        <app-input
          [label]="'PAYMENT_PERIOD' | translate"
          inputId="toDate"
          formControlName="paymentPeriod"
          type="text"
        ></app-input>
      </div>
      <div class="p-1">
        <app-input
          [label]="'INTEREST_RATE' | translate"
          inputId="rate"
          type="text"
          formControlName="interestRate"
        ></app-input>
      </div>
      <div class="p-1">
        <app-input
          [label]="'BONUS_RATE_L' | translate"
          inputId="bonusRate"
          type="text"
          formControlName="bonusRate"
        ></app-input>
      </div>

      <ng-container *ngIf="bothLanguage">
        <div class="p-1">
          <p class="text-[#454F63] text-[22px]">
            {{ "PACKAGE_DETAIL" | translate }}
          </p>
          <app-select
            selectId="test"
            [options]="secondColumnLanguagesVi"
            formControlName="language"
            controlName="status"
          ></app-select>
        </div>
        <div></div>
        <div class="p-1">
          <app-input
            [label]="'PACKAGE_NAME_VI' | translate"
            inputId="nameVi"
            formControlName="nameVi"
            type="text"
          ></app-input>
        </div>
        <div class="p-1">
          <app-input
            [label]="'DESCRIPTION_NAME_VI' | translate"
            inputId="description"
            formControlName="descriptionVi"
            type="text"
          ></app-input>
        </div>

        <div class="p-1">
          <p class="text-[#4E535D] text-[14px]">
            {{ "SERVICE_VI" | translate }} *
          </p>

          <app-text-area formControlName="serviceVi"></app-text-area>
        </div>

        <div class="p-1">
          <p class="text-[#4E535D] text-[14px]">
            {{ "GIFT_VI" | translate }} *
          </p>

          <app-text-area formControlName="giftVi"></app-text-area>
        </div>

        <div class="p-1">
          <p class="text-[#454F63] text-[22px]">
            {{ "PACKAGE_DETAIL" | translate }}
          </p>
          <app-select
            selectId="test"
            [options]="secondColumnLanguagesEn"
            formControlName="secondLanguage"
            controlName="status"
          ></app-select>
        </div>

        <div></div>
        <div class="p-1">
          <app-input
            [label]="'PACKAGE_NAME_EN' | translate"
            inputId="nameEn"
            formControlName="nameEn"
            type="text"
          ></app-input>
        </div>

        <div class="p-1">
          <app-input
            [label]="'DESCRIPTION_NAME_EN' | translate"
            inputId="description"
            formControlName="descriptionEn"
            type="text"
          ></app-input>
        </div>

        <div class="p-1">
          <p class="text-[#4E535D] text-[14px]">
            {{ "SERVICE_EN" | translate }} *
          </p>
          <app-text-area formControlName="serviceEn"></app-text-area>
        </div>

        <div class="p-1">
          <p class="text-[#4E535D] text-[14px]">
            {{ "GIFT_EN" | translate }} *
          </p>
          <app-text-area formControlName="giftEn"></app-text-area>
        </div>
      </ng-container>
      <ng-container *ngIf="!bothLanguage">
        <ng-container>
          <div class="p-1">
            <p class="text-[#454F63] text-[22px]">
              {{ "PACKAGE_DETAIL" | translate }}
            </p>
            <app-select
              [label]="'CREATE_NEWSL_LANGUAGE' | translate"
              selectId="test"
              [options]="languages"
              formControlName="language"
              controlName="status"
              (change)="changeLanguage()"
            ></app-select>
          </div>
          <div></div>
          <div class="p-1" *ngIf="_selectedLanguage === 'en'">
            <app-input
              [label]="'PACKAGE_NAME_EN' | translate"
              inputId="nameEn"
              formControlName="nameEn"
              type="text"
            ></app-input>
          </div>

          <div class="p-1" *ngIf="_selectedLanguage === 'vi'">
            <app-input
              [label]="'PACKAGE_NAME_VI' | translate"
              inputId="nameVi"
              formControlName="nameVi"
              type="text"
            ></app-input>
          </div>
          <div class="p-1" *ngIf="_selectedLanguage === 'en'">
            <app-input
              [label]="'DESCRIPTION_NAME_EN' | translate"
              inputId="description"
              formControlName="descriptionEn"
              type="text"
            ></app-input>
          </div>
          <div class="p-1" *ngIf="_selectedLanguage === 'vi'">
            <app-input
              [label]="'DESCRIPTION_NAME_VI' | translate"
              inputId="description"
              formControlName="descriptionVi"
              type="text"
            ></app-input>
          </div>

          <div class="p-1" *ngIf="_selectedLanguage === 'en'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "SERVICE_EN" | translate }} *
            </p>
            <app-text-area formControlName="serviceEn"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedLanguage === 'vi'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "SERVICE_VI" | translate }} *
            </p>

            <app-text-area formControlName="serviceVi"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedLanguage === 'en'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "GIFT_EN" | translate }} *
            </p>

            <app-text-area formControlName="giftEn"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedLanguage === 'vi'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "GIFT_VI" | translate }} *
            </p>

            <app-text-area formControlName="giftVi"></app-text-area>
          </div>
        </ng-container>
        <ng-container *ngIf="isAdded">
          <div class="p-1">
            <p *ngIf="!isEdit" class="text-[#454F63] text-[22px]">
              {{ "PACKAGE_DETAIL" | translate }}
            </p>
            <app-select
              *ngIf="!isEdit"
              selectId="test"
              [options]="secondColumnLanguages"
              formControlName="secondLanguage"
              controlName="status"
              (change)="changeLanguage()"
            ></app-select>
          </div>
          <div></div>
          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'en'">
            <app-input
              [label]="'PACKAGE_NAME_EN' | translate"
              inputId="nameEn"
              formControlName="nameEn"
              type="text"
            ></app-input>
          </div>

          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'vi'">
            <app-input
              [label]="'PACKAGE_NAME_VI' | translate"
              inputId="nameVi"
              formControlName="nameVi"
              type="text"
            ></app-input>
          </div>
          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'en'">
            <app-input
              [label]="'DESCRIPTION_NAME_EN' | translate"
              inputId="description"
              formControlName="descriptionEn"
              type="text"
            ></app-input>
          </div>

          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'vi'">
            <app-input
              [label]="'DESCRIPTION_NAME_VI' | translate"
              inputId="description"
              formControlName="descriptionVi"
              type="text"
            ></app-input>
          </div>

          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'en'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "SERVICE_EN" | translate }} *
            </p>
            <app-text-area formControlName="serviceEn"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'vi'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "SERVICE_VI" | translate }} *
            </p>
            <app-text-area formControlName="serviceVi"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'en'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "GIFT_EN" | translate }} *
            </p>
            <app-text-area formControlName="giftEn"></app-text-area>
          </div>
          <div class="p-1" *ngIf="_selectedSecondColumnLanguage === 'vi'">
            <p class="text-[#4E535D] text-[14px]">
              {{ "GIFT_VI" | translate }} *
            </p>
            <app-text-area formControlName="giftVi"></app-text-area>
          </div>
        </ng-container>
      </ng-container>

      <div class="flex justify-end items-center p-4 col-span-2">
        <button
          *ngIf="!isAdded"
          class="bg-[#F7AA00] text-white px-4 py-2 rounded-full mt-6"
          (click)="addColumn()"
        >
          {{ "ADDMORE" | translate }}
        </button>
        <button
          *ngIf="isAdded"
          class="bg-gray-400 text-white px-4 py-2 rounded-full mt-6"
        >
          {{ "ADDMORE" | translate }}
        </button>
      </div>
      <!-- <div class="flex justify-start items-center p-2">
        <p class="text-[16px] text-[#454F63] font-semibold">
          {{ "UPLOAD_IMAGE" | translate }}
        </p>
      </div> -->

      <div class="col-span-2">
        <p class="text-[16px] text-[#454F63] font-semibold">
          {{ "UPLOAD_IMAGE" | translate }}
        </p>
        <p class="text-[#454F63CC] text-[16px] py-1">
          {{ "CHOOSE_IMG_TXT2" | translate }}
        </p>
        <div class="grid grid-cols-4 gap-5">
          <button class="bg-[#235884] px-4 py-2 rounded-xl h-[40px] w-[150px]">
            <div
              class="flex items-center space-x-3"
              (click)="imageUpload.click()"
            >
              <img src="assets/icons/upload-icon.png" class="w-[20px]" alt="" />
              <p class="text-white font-semibold">
                {{ "UPLOAD_FILESB" | translate }}
              </p>

              <input
                #imageUpload
                type="file"
                class="hidden"
                accept="image/*"
                (change)="onFileSelected($event)"
              />
            </div>
          </button>

          <div *ngIf="isEdit">
            <img
              *ngIf="imageUrl"
              [src]="imageUrl"
              alt="Banner Sample"
              class="w-[200px]"
            />
          </div>
          <div *ngIf="!isEdit">
            <!-- <img
              *ngIf="!imageUrl"
              src="assets/image/banner-sample.png"
              alt="Banner Sample"
              class=""
            /> -->
            <img
              *ngIf="imageUrl"
              [src]="imageUrl"
              alt="Banner Sample"
              class="w-[200px]"
            />
          </div>
        </div>
      </div>
      <div class="p-1">
        <app-input
          [label]="'START_DATE_L' | translate"
          inputId="startDate"
          type="datetime-local"
          formControlName="fromTime"
        ></app-input>
      </div>
      <div class="p-1">
        <app-input
          [label]="'END_DATE_L' | translate"
          inputId="endDate"
          type="datetime-local"
          formControlName="toTime"
        ></app-input>
      </div>
      <div
        class="col-span-2 flex justify-center items-center space-x-8 p-4 mt-12"
      >
        <button
          class="px-4 py-2 text-white bg-[#C4C4C4] rounded-full"
          (click)="close()"
        >
          {{ "CANCEL" | translate }}
        </button>
        <button
          *ngIf="!isEdit"
          class="px-4 py-2 text-white bg-[#F8AA00] rounded-full"
          (click)="confirmCreate()"
        >
          {{ "CREATE" | translate }}
        </button>
        <button
          *ngIf="isEdit"
          class="px-4 py-2 text-white bg-[#F8AA00] rounded-full"
          (click)="confirmUpdate()"
        >
          {{ "UPDATE" | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #detailPackageModal>
  <div class="p-8 overflow-y-auto">
    <div class="flex justify-start items-center p-4">
      <p class="font-semibold text-[20px]">
        {{ "PACKAGE_DETAIL" | translate }}
      </p>
    </div>
    <div class="grid grid-cols-2 gap-0 p-2 space-y-4">
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "PACKAGE_NAME_EN" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.name.en }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "PACKAGE_NAME_VI" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.name.vi }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "TERM" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.term }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "INTEREST_RATE" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.interestRate }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "BONUS_RATE" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.bonusRate }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "WIDTH_OPTION" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.paymentPeriod }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "SERVICE_EN" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.service.en }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "SERVICE_VI" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.service.vi }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "GIFT_EN" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.gift.en }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "GIFT_VI" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.gift.vi }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "CREATEDAT" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.createdAt }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "START_DATE_L" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.fromTime }}
      </p>
      <p
        class="text-[#4E535D] text-[16px] font-semibold text-start items-center p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ "END_DATE_L" | translate }}
      </p>
      <p
        class="text-start items-center text-[16px] text-[#000000] p-2 border-b-2 border-[#E2E2E2]"
      >
        {{ detailPackage.toTime }}
      </p>
    </div>
    <div class="flex justify-end items-center p-2">
      <button
        class="bg-[#F7AA00] text-white px-5 py-2 rounded-3xl"
        (click)="close()"
      >
        <p class="text-[16px]">{{ "CLOSE" | translate }}</p>
      </button>
    </div>
  </div>
</ng-template>
