<div class="py-4 mx-16 overflow-y-auto">
  <div class="flex justify-end">
    <button (click)="closeCreateModal()">
      <mat-icon matListItemIcon class="cursor-pointer mx-5">close</mat-icon>
    </button>
  </div>
  <div class="p-4 mb-2">
    <h2 class="text-[20px] font-bold text-center">
      {{ "EDIT_NEWST" | translate }}
    </h2>
  </div>
  <div>
    <form action="" [formGroup]="createForm">
      <div formArrayName="forms">
        <div
          *ngFor="let form of forms.controls; let i = index"
          [formGroupName]="i"
        >
          <h3 class="text-[16px] font-bold py-8">
            {{ "CREATE_NEWST_DETAIL" | translate }}
          </h3>

          <div class="grid grid-cols-2 gap-6">
            <div class="p-1">
              <app-select
                [label]="'CREATE_NEWSL_LANGUAGE' | translate"
                selectId="language"
                [options]="languages"
                formControlName="language"
                controlName="language"
              ></app-select>
            </div>

            <div class="flex justify-center items-center gap-4">
              <div class="image-upload">
                <input
                  type="file"
                  #fileInput
                  style="display: none"
                  (change)="onImageSelected($event, i)"
                />

                <button
                  type="button"
                  (click)="fileInput.click()"
                  class="border p-2 rounded-full bg-[#F7AA00] text-white"
                >
                  <div class="flex gap-2 justify-center items-center">
                    <img
                      src="assets/icons/upload-icon.png"
                      alt=""
                      class="w-[25px]"
                    />
                    <p>{{ "UPLOAD_IMAGE" | translate }}</p>
                  </div>
                </button>

                <div
                  *ngIf="form.get('imageUrl')?.value"
                  class="image-preview py-3"
                >
                  <div class="flex gap-2 justify-center items-center">
                    <img
                      [src]="form.get('imageUrl')?.value"
                      alt="Selected Image"
                      width="100"
                      height="100"
                    />
                    <span>{{ form.get("filename")?.value }}</span>
                    <button type="button" (click)="removeImage(i)">
                      <img
                        src="assets/icons/trash-icon.png"
                        alt=""
                        class="w-[25px]"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <div class="my-3">
              <p class="text-[#4E535D] text-[14px] my-2">
                {{ "CREATE_NEWSL_TITLE" | translate }}
                <span>({{ formTitles[i] }})</span>
                <span class="text-red-600">* </span>
              </p>
              <textarea
                id="title"
                name="title"
                class="w-full border-[1.5px] focus:outline-none p-2"
                formControlName="title"
                required
              >
              </textarea>
              <div
                *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
                class="text-red-500 text-[13px] mt-1"
              >
                {{ "REQUIRED_CUSTOM" | translate }}
              </div>
              <br />
            </div>
          </div>

          <div>
            <p class="text-[#4E535D] text-[14px] my-2">
              {{ "CREATE_NEWSL_CONTENT" | translate }}
              <span>({{ formTitles[i] }})</span>
            </p>
            <app-rich-text-standalone
              formControlName="content"
              [editor]="editor"
            ></app-rich-text-standalone>
          </div>
        </div>
      </div>
    </form>

    <div class="my-12 flex justify-center items-center gap-4">
      <button
        class="text-white border bg-[#C4C4C4] px-5 py-2 rounded-3xl"
        (click)="closeCreateModal()"
      >
        <p class="text-[16px]">{{ "CANCEL" | translate }}</p>
      </button>
      <button
        class="bg-[#F7AA00] text-white px-5 py-2 rounded-3xl"
        (click)="saveEdit()"
      >
        <p class="text-[16px]">{{ "SAVE" | translate }}</p>
      </button>
    </div>
  </div>
</div>
