<form class="py-8 px-6" [formGroup]="changePassword">
  <h1 class="pb-8 text-[20px] font-bold">
    {{ "CHANGE_PASSWORD" | translate }}
  </h1>

  <div class="mb-4">
    <app-input
      [label]="'OLD_PASSWORD' | translate"
      inputId="oldPassword"
      formControlName="oldPassword"
    ></app-input>
  </div>
  <div class="mb-4">
    <app-icon-input
      [label]="'NEW_PASSWORD' | translate"
      inputId="newPassword"
      formControlName="newPassword"
      [hideTypeAttribute]="true"
      [showIcon]="true"
    ></app-icon-input>
  </div>
  <div class="mb-4">
    <app-icon-input
      [label]="'CONFIRM_NEW_PASSWORD' | translate"
      inputId="confirmNewPassword"
      formControlName="confirmNewPassword"
      [customErrorMessages]="customErrorMessages"
      [hideTypeAttribute]="true"
      [showIcon]="true"
    ></app-icon-input>
  </div>

  <div class="flex justify-center gap-6 pt-5">
    <button
      (click)="close()"
      class="px-4 py-2 text-white bg-[#C4C4C4] rounded-full text-[16px]"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      (click)="createChangePassword()"
      class="text-white px-4 py-2 rounded-full text-[16px] bg-[#F8AA00]"
    >
      {{ "CREATE_PASS" | translate }}
    </button>
  </div>
</form>
