<div class="p-2">
  <div class="p-4 flex justify-between items-center bg-[#FFFFFF] w-full">
    <p class="text-[#F8AA00] text-[18px]">
      {{ "ADMIN" | translate }}
      <span class="text-[#000000] text-[18px]">> {{ "ROLE" | translate }}</span>
    </p>
    <button
      *appHasPermission="{
        permission: 'CREATE',
        pageComponent: 'Role Management'
      }"
      (click)="open()"
      class="rounded-full border border-[#235884] px-3 py-2 hover:cursor-pointer"
    >
      <div class="flex justify-center items-center space-x-1">
        <img src="assets/icons/plus.png" alt="" class="w-[18px]" />
        <p class="text-[16px]">{{ "ADD_NEW" | translate }}</p>
      </div>
    </button>
  </div>

  <div class="my-8">
    <table class="w-full">
      <thead class="bg-[#E7EEF4] h-20 uppercase">
        <tr>
          <th class="text-center text-base text-[#565D6D] px-4">
            {{ "NO" | translate }}
          </th>
          <th class="text-center text-base text-[#565D6D] px-4">
            {{ "ROLEL" | translate }}
          </th>
          <th class="text-center text-base text-[#565D6D] px-4">
            {{ "PERMISSION" | translate }}
          </th>
          <th class="text-center text-base text-[#565D6D] px-4">
            {{ "ACTION" | translate }}
          </th>
        </tr>
      </thead>
      <tbody class="text-[#687489]">
        <ng-container *ngIf="roleData.length; else emptyResult">
          <tr
            class="border-b h-16"
            *ngFor="let item of roleData; let i = index"
          >
            <td class="text-center text-[#687489] text-sm px-4 py-2">
              {{ i + 1 }}
            </td>
            <td class="text-center text-[#687489] text-sm px-4 py-2">
              {{ item.name }}
            </td>
            <td class="text-center text-[#687489] text-sm px-4 py-2 w-80">
              <ng-container
                *ngFor="let permission of item.permissions; let last = last"
              >
                {{ permission[currentLang] || permission.vi
                }}<span *ngIf="!last">, </span>
              </ng-container>
            </td>

            <td class="text-center text-[#687489] px-4 py-2">
              <div class="flex justify-center items-baseline space-x-4">
                <button (click)="info(item)">
                  <img
                    src="assets/icons/info-circle-icon.png"
                    alt="detail-icon"
                    class="w-[18px]"
                    title="Detail"
                  />
                </button>

                <button
                  *appHasPermission="{
                    permission: 'EDIT',
                    pageComponent: 'Role Management'
                  }"
                  (click)="edit(item)"
                >
                  <img
                    src="assets/icons/edit-icon.png"
                    alt="edit-icon"
                    class="w-[18px]"
                  />
                </button>

                <button
                  *appHasPermission="{
                    permission: 'DELETE',
                    pageComponent: 'Role Management'
                  }"
                  (click)="delete(item.roleId)"
                >
                  <img
                    src="assets/icons/trash-icon.png"
                    alt="trash-icon"
                    class="w-[18px]"
                    title="Delete"
                  />
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
        <ng-template #emptyResult>
          <tr>
            <td colspan="4" class="py-16">
              <span class="flex justify-center">
                <mat-spinner [diameter]="30"></mat-spinner>
              </span>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>
